[2021-08-12 19:01] lbianchi-lbl commented on #293
I'll test this again but @jsiirola thinks this should be fixed on the Pyomo side.

[2021-08-13 00:01] lbianchi-lbl commented on #432
@xiangao1 we're looking at open PRs in preparation for the August release. Is this work expected to be completed in the next few days? Otherwise, we can keep tracking this PR as part of the November release.

[2021-08-13 00:05] lbianchi-lbl commented on #236
@bernalde do you know if any of these issues are still affecting you? If not, we should probably close this, as it refers to an older version of IDAES and the issues might have been addressed in the meantime.

[2021-08-13 00:06] lbianchi-lbl commented on #96
@jghouse88 @adowling2 we're looking at open PRs in preparation for the August release. Is this work expected to be completed in the next few days? Otherwise, we can keep tracking this PR as part of the November release.

[2021-08-13 00:18] xiangao1 commented on #432
@lbianchi-lbl I don't think this will be finished in the next few days.

[2021-08-13 00:21] lbianchi-lbl commented on #432
@xiangao1 thanks for the update---we just wanted to make sure we're not moving PRs without their authors' knowledge.

[2021-08-13 00:26] xiangao1 commented on #432
@lbianchi-lbl Sorry, but I think I should ask @adowling2 first.

Alex, do you think we should target the August release?

[2021-08-13 00:36] adowling2 commented on #432
November release is best.

[2021-08-13 14:52] bernalde commented on #236
They were not affecting me in the first place but I just thought it would be good to make you aware of them.
I created a new environment (same Python version) and pip installed `pyomo `followed by using main of `ideas-pse` and rerun the `pytests`.
First, I noticed that among the dependencies `addheader `is missing (I had to `pip install` it) (see `ideas_test_2.txt`) and then I rerun the tests via

[2021-08-16 21:37] #458 closed

[2021-08-18 19:59] adowling2 opened #467 "Add Prescient as an optional dependecy, support tests with Prescient"
The IDAES market integration feature #432 will include at least one regression test that involves Prescient. We should:
- Add Prescient as an optional dependency
- Add Prescient to the testing suite

@xiangao1 @ksbeattie @lbianchi-lbl

[2021-08-19 15:16] andrewlee94 opened #469 "Fix deprecation warnings from Pyomo 6.1"
A change in Pyomo 6.1 results in a number of deprecation warnings that we should fix before our upcoming release.

The one known deprecation warning (so far) is:

WARNING: DEPRECATED: Using __getitem__ to return a set value from its (ordered) position is deprecated.  Please use card()  (deprecated in 6.1,  will be removed in 7.0) (called from c:\miniconda\envs\proteuslib-dev\lib\site-packages\idae

[2021-08-19 16:32] lbianchi-lbl commented on #469
@andrewlee94 I'm trying to reproduce the `Set.__getitem__()` deprecation messages while running the IDAES test suite, but it looks like they are not being generated. Do you have a minimal example where they are generated in IDAES?

This is the output of `pip show pyomo`:

[code]

[2021-08-19 16:37] andrewlee94 commented on #469
@lbianchi-lbl I do not have one on hand. This issue was brought to my attention by the NAWI team, as it is causing some of their tests to fail.

[2021-08-19 18:18] ksbeattie commented on #467
@lbianchi-lbl, will work on the infrastructure (dependencies, testing) parts.
@dangunter, will look into using existing DMF example

[2021-08-19 18:19] adowling2 commented on #467
@xiangao1 Can you add a link to the Prescient example notebook?

[2021-08-19 18:21] xiangao1 commented on #467
Here is the Prescient example notebook: https://github.com/grid-parity-exchange/Prescient/blob/main/examples/prescient_tutorial.ipynb

[2021-08-19 21:58] dallan-keylogic opened #471 "Constraints appearing in Feed and Product blocks"
At present, Feed blocks can generate constraints [despite the documentation promising that they don't](https://idaes-pse.readthedocs.io/en/stable/technical_specs/model_libraries/generic/unit_models/feed.html?highlight=Feed).

[code]

This appears to be a collision between the BTXParameterBlock and Feed/Product blocks. Those process blocks assume that setting `has_phase_equilibrium = False` is suff

[2021-08-20 14:39] andrewlee94 commented on #471
@dallan-keylogic After thinking a little more I about this I realized that that is expected behavior. There are a few things behind this that I will try to explain, but we can discuss in person next week.

Firstly, a `Feed` block is basically treated in the same way as an inlet to a unit model - we don't have anything in place to realize that this is a special case of a process feed. For the inlet

[2021-08-20 20:14] dallan-keylogic commented on #304
@eslickj Based on my previous experience with Sympy, it wouldn't be my first choice for actual calculation of derivatives. A real AD tool evaluates derivatives much faster and scale much better. On the level of a thermo package, though, it might not be horrible. I've previously had some experience using [CasADi](https://web.casadi.org/) for AD. It looks like the [Pyomo DAE simulator has some metho

[2021-08-20 20:33] andrewlee94 commented on #304
@dallan-keylogic Using AD/SD tools would be up to the model developer, and thus would not be a global solution but rather one for those cases where you know you have a rigorous thermo model behind everything.

The other thing to note is that because of the way Pyomo works, this evaluation would either only occur once per property during model construction, or during the model write stage - it is n

[2021-08-20 21:12] #469 closed

[2021-08-24 13:50] andrewlee94 opened #477 "Remove deprecated features for next release"
The following features have been deprecated for a while (at least a year), and I propose removing them for the next release.

1.	Directly setting state_block_class and reaction_block_class when creating property packages will no longer be allowed – users should set _state_block_class and _reaction_blokc_class instead.
2.	Old style property packages that do not use Phase and Component objects will

[2021-08-24 16:16] elbashandy opened #479 "Problem visualizing a Flowsheet for a converged model: The UI shows a blank display area"
User's comments on the issue:

- "trying to add the flowsheet visualizer to my model so I can see the results in a nice graphical format.  My model converges but the visual flowsheet doesn’t come up.  A web page is launched but the main display area is blank (see the following image)."

![image002](https://user-images.githubusercontent.com/1439632/130650765-7c9b023f-a992-49cb-90f3-91e504134d95.jpg

[2021-08-25 19:54] eslickj opened #480 "Function to get state block from port"
We have a function to get a state block from a port in the tables utility module.  Right now it's private, but it seems like something we may want to make public.  It's probably just a matter of removing the underscore and making sure there are tests and documentation.

[2021-08-27 20:43] dangunter opened #482 "IFV error with character not in ascii codec"
When showing a flowsheet in IFV, receiving this error:
`UnicodeDecodeError: 'ascii' codec can't decode byte 0xc2 in position 609: ordinal not in range(128)`

The fix is to change Line 253 in "idaes/ui/fsvis/model_server.py" to include an encoding:

`with open(p, "r", encoding="utf-8") as fp:`

[2021-08-30 18:46] bpaul4 opened #484 "Typos related to latest IDAES documentation"
I compiled a list of typos I came across while referencing the IDAES documentation, and confirmed these still exist in the latest docs and current files on the main branch:

- [ ] In idaes/core, process_block.py line 155 ‘impliment’, process_base.py line 101 ‘implimented’
- [ ] In docs/technical_specs/model_libraries/generic/unit_models, flash.rst has 'multile' in first paragraph, 'temeprature' an

[2021-08-30 20:44] andrewlee94 opened #485 "Deprecate "list_of" domain validators in util/config"
Pyomo has recently introduced a `ListOf` method for validating domains in `ConfigBlock`, so we should deprecate the various "list_of" validators in IDAES in favor of using this.

[2021-09-02 17:36] #255 closed

[2021-09-02 18:22] lbianchi-lbl opened #493 "get_examples() fails when latest available version is a release candidate (causes integration tests failures)"
- This happens in the narrow time period between when the first release candidate for a release series and the first final (non-candidate) versions are created
- Causes failures in the integration tests (e.g. #481) that are independent on the PR's changes, and can therefore be ignored as a temporary workaround until the root cause is addressed

[2021-09-02 19:05] lbianchi-lbl opened #495 "Coverage reports not showing up on PRs"
It seems that many recent PRs do not contain the coverage report that's supposed to be created by the Codecov bot account, `codecov-commenter`.

The cause is not clear, but to investigate the issue, these query strings can be used:

- PRs containing a Codecov report: `is:pr commenter:codecov-commenter`
- PRs not containing a Codecov report: `is:pr -commenter:codecov-commenter`

[2021-09-02 19:34] lbianchi-lbl commented on #293
@jsiirola I've managed to get some notebook runtime duration numbers from IDAES/examples-pse#64.

---

My very crude analysis consists of:

- Compare runtimes of the same notebook (separately for each Python version) for Linux and Windows
- To try to account for differences in environments where the notebooks are run for the two OSes, I normalized each duration by the shortest duration in the seri

[2021-09-02 23:13] jsiirola commented on #293
This looks good.  Thanks for digging into it!

[2021-09-02 23:13] #293 closed

[2021-09-03 21:20] #484 closed

[2021-09-09 17:56] #480 closed

[2021-09-09 18:38] dangunter opened #499 "Simple point-and-click install for Windows"
Would it be possible to install directly from the Anaconda UI.. all the way to running example notebooks?

Or, is the time better spent on a cloud-hosted platform that doesn't require installation at all?

[2021-09-09 18:50] ksbeattie commented on #479
Waiting for user to respond for more input.

[2021-09-09 18:57] ksbeattie commented on #210
Taking this off the release boards, waiting for someone to pick this up.

[2021-09-09 19:06] ksbeattie commented on #499
This is (somewhat) related to, perhaps partially motivated by #102 and #449

[2021-09-09 19:21] eslickj opened #500 "Pynumero Issue New Release"
I just discovered that our pynumero binary is out of date for the new version of Pyomo.  I guess we probably new a new set of binaries to go with the newest IDAES release, or anything using pynumero will be broken.

[2021-09-09 23:39] ksbeattie commented on #500
Yikes.  Let me know when you've updated idaes-ext.

Any way we can create a smoke test of some kind to give us a heads on this this sort of thing in the future?

[2021-09-10 01:12] eslickj commented on #500
@ksbeattie, good question.  We do have a test to see if we have pynumero.  Maybe my version of Pyomo is too new.  I'll have to investigate this more, but maybe the release is fine.  Either way I guess we'll need the new binaries.  I'm building them.

[2021-09-10 01:30] eslickj commented on #500
Well I don't know.  Our test for having pynumero passes, but when I try to use some scaling utils in my model I get an error that I need to update to pynumero 2.  Maybe only certain features trigger the warning?  I'll figure it out.

[2021-09-10 01:42] eslickj commented on #500
Ok, I figured it out.  I was getting a warning, and got confused the real reason it was failing is that pynumero stopped working with external functions.  So we need to update Pynumero to avoid the warning, but there seems to be a new bug in Pyomo.  I'll report it over there.

[code]

[2021-09-10 02:08] eslickj commented on #500
Reported Pyomo bug https://github.com/Pyomo/pyomo/issues/2126

[2021-09-13 19:28] eslickj commented on #500
This whole thing was a mix-up on my part.  The IDAES binaries are fine.  I just had a old version that loaded before the IDAES version and I didn't realize it was there.

[2021-09-13 19:28] #500 closed

[2021-09-15 16:58] #485 closed

[2021-09-16 15:48] blnicho opened #506 "[TEST] Template for tracking model/utility Foo"
_This is an example of how GitHub issues could be used for tracking model/utility development across several projects utilizing IDAES-PSE. This is meant to spur discussion during the technical team meeting on 9/16/2021 and can be closed after the meeting._

## Model/utility Description
**Planned completion date:**
**Developer(s):** _could also used the Assignees to track this_
**Path to code (if a

[2021-09-16 20:38] #506 closed

[2021-09-20 15:34] lbianchi-lbl opened #509 "Add check to detect deprecation warnings emitted when running test suite"

[2021-09-20 18:18] #477 closed

[2021-09-21 17:16] elbashandy opened #512 "Format the Stream Table's `Units` at the client side (UI) instead of server side"
This issue is to discuss adding tools such as MathJax to our client-side code in order to format/display the Units properly in the UI.
So far we depend on the Pint python object to do the formatting for us. Pint can format the unit object into String, HTML, & latex. This is mentioned [here](https://pint.readthedocs.io/en/0.10.1/tutorial.html#string-formatting)

[2021-09-22 20:30] dallan-keylogic opened #516 "Enthalpy as state variable doesn't work for generic property package"
The `generic_property` package does not support enthalpy as a state variable, at least for cubic equations of state.

[code]

This appears to be because, in order to define the enthalpy, `FcPh.py` tries to access methods for the cubic equation of state before it is defined in the parameter block:
[code]

[2021-09-23 15:14] jialuw96 opened #517 "Update uncertainty propagation toolbox to use sens.py in Pyomo"
Challenge / problem:
- `sens.py` was copied from Pyomo, and duplicated in IDAES uncertainty toolbox to get it work
- `sens.py` has since been updated in Pyomo to improve code clarity and style
- Two separate versions of sens.py is confusing

Proposal: remove `sens.py` in IDAES, update uncertainty toolbox to use sens.py in Pyomo

Tasks:
- [ ] `get_dsdp()` in Pyomo `sens.py` assumes the Pyomo model

[2021-09-23 18:21] ksbeattie commented on #517
@jialuw96, is this something you will do?

[2021-09-23 18:58] ksbeattie commented on #135
This is related to: #96

[2021-09-25 02:29] eslickj opened #522 "propagate_state behaviour"
I ran into an issue with propagate_state.  Copy_port_values would overwrite fixed values, so the move to propagate state broke some of my stuff.  I'm not sure what the right behavior is, but I assumed that if you wanted to copy over fixed values you could.  I think we could add an overwrite_fixed option.  Don't know what the default should be but either way we risk breaking stuff.

[2021-09-27 13:03] andrewlee94 commented on #522
@eslickj My general rule is that you never automatically overwrite a fixed variable - if it is fixed, it implies it was fixed for a reason and that the user needs to decide what to do.

We could add an `overwrite_fixed` option, but I would say the default should be `False`.

[2021-09-27 18:00] eslickj commented on #522
@andrewlee94 I figured that was the safest way to go.  It's done in PR #523.  My only worry is that there are things out there that may mysteriously break.  I can't see any way around that though.  Either way we go we may break something, and I don't want to keep both methods forever.  I guess in the deprecated function we could make the default True since that was the old behavior and add some mo

[2021-09-28 18:36] jghouse88 commented on #425
@jghouse88

- [ ] A-Z update for NETL
- [ ] Leadership tasks/sub-tasks association
- [ ] Research areas page

@ksbeattie

- [ ] Stakeholders page; intro from John Shinn on Box (https://app.box.com/notes/824734996533)
- [ ] Update upcoming meeting info under SAB Meetings and under "News and Events"
- [ ] Software development info; update software page
- [ ] Reviewing language on contact us/support/

[2021-09-29 19:50] REI-Gardner opened #530 "Installation - pytest fails"
I am on a windows machine and I have installed idaes-pse for the first time. However, when I do the pytest command as specified in the online idaes documentation I get the error message shown below.

I have opened the tutorials and when I do:
`run "notebook_test_script.py"`
I get that everything passes.

Is it likely that I will run into any future because of the problem causing the error message

[2021-09-29 19:59] #482 closed

[2021-09-30 04:17] lbianchi-lbl commented on #530
Hi @REI-Gardner, the specific error reported in this issue can be fixed by installing the missing `addheader` package by running `pip install addheader` in the same `idaes` Conda environment.

More in general, `pytest` and `addheader` are both considered development dependencies for IDAES. The development dependencies can be installed after cloning this repository from GitHub following the "Instal

[2021-09-30 17:05] #322 closed

[2021-09-30 18:47] lbianchi-lbl opened #537 "Revise workflow for running test suite with user installation"
- Having (a subset of) the IDAES test suite runnable when IDAES is installed in user mode (without cloning the repo) is valuable, as it provides an effective "smoke test" to verify that the installation was successful
- The relevant command (`pytest --pyargs idaes`) is already mentioned in the documentation; however, some tests require extra dependencies (including `pytest` itself) that are consid

[2021-09-30 18:50] #158 closed

[2021-09-30 18:50] lbianchi-lbl commented on #530
@REI-Gardner I've just opened #537 so that we can improve this workflow. Let me know if the steps described in my previous comment didn't work, otherwise we can probably close this issue and keep track of this there.

[2021-09-30 18:57] #313 closed

[2021-09-30 19:04] #530 closed

[2021-10-02 15:43] elbashandy opened #539 "Update the HDA and other example models to include units"
The only model with units that we can currently showcase is at `idaes/generic_models/flowsheets/demo_flowsheet.py`

[2021-10-02 15:45] elbashandy opened #540 "Add a test for unit icons"
Checking if #158 has been addressed.

[2021-10-07 15:05] adam-a-a opened #545 "Add _mw_comp to generic property framework"
`mw_comp` is used in four instances for computing other properties (`flow_mass_phase_comp`, `flow_mass_comp`, `flow_mol_comp` and `flow_mol_phase_comp`) but needs to be added as a build-on-demand method.

[2021-10-07 21:19] #545 closed, assigned to adam-a-a

[2021-10-08 13:41] eslickj opened #547 "PETSc Testing?"
I want to set up some tests that use the PETSc solver.  It's currently an optional install, and not installed for tests.  The download is around 50 MB.  My worry is that if we add this to the tests we may run into some kind of limits one one end or the other that cause or tests to periodically fail.  Do you guys have any thoughts on that?  Should I just do it and see how it goes?

Related issue, o

[2021-10-09 06:56] izsahara opened #548 "The right "way" to use/copy several routines to personal library (concerning copyright)"
Hi, im writing my own library (That would be distributed publicly on github) and im interested in using just two routines from `idaes.surrogate.pysmo.sampling`. Namely `SamplingMethods` and `LatinHypercubeSampling`. First off, would i be allowed to? if so would the following be correct in doing so

![image](https://user-images.githubusercontent.com/62043990/136647636-2eb093ac-a6f3-4bb7-a097-bd5dbd

[2021-10-12 15:08] #547 closed, assigned to jsiirola, ksbeattie, lbianchi-lbl

[2021-10-14 16:05] eslickj opened #553 "Add Solver List to Docs"
The get-extensions docs apparently do not list what solvers are installed.  We need to add the list.

[2021-10-14 16:34] eslickj commented on #548
Yes, you can use IDAES code you just have to comply with the license https://github.com/IDAES/idaes-pse/blob/main/LICENSE.md.  I think the typical way to do this would be to make IDAES a dependency of your project.  The advantage of going to dependency route is that you don't need to maintain a fork of the code.

@ksbeattie can probably give you better information on this.

[2021-10-15 16:17] adowling2 commented on #548
Alternately, you may find this function helpful: https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.qmc.LatinHypercube.html

[2021-10-15 16:39] #321 closed

[2021-10-18 15:12] andrewlee94 opened #557 "Air separation example broken"
The air separation example in the examples-pse repo (https://github.com/IDAES/examples-pse/blob/main/src/Examples/Advanced/CustomProperties/air_separation_case_study.ipynb) was broken by PR #531. Specifically, it appears that the failure setting an upper bound on mole fractions of 1.001.

Some quick testing has revealed the following:

* a looser upper bound of 1.01 works, as does no upper bound.

[2021-10-18 22:54] viiibhav commented on #557
I think I have got it to work. Scaling didn't help with the problem, but a smaller barrier parameter `mu_init` improves the performance and avoids restoration. I have updated the notebook locally and will open a PR for it.

[2021-10-19 21:58] dangunter opened #559 "Add support in PySMO for multiple inputs and outputs"
Support multiple inputs and outputs (rather than assuming the final column is the output)

[2021-10-19 22:00] dangunter opened #560 "PySMO support for (new) SurrogateTrainer API"
See related issue for Alamo #455

[2021-10-21 18:57] lbianchi-lbl commented on #479
@elbashandy followed up with the original reporter and this can now be considered addressed.

[2021-10-21 18:57] #479 closed

[2021-10-26 14:34] eslickj opened #568 "Move get_solver?"
Should we move get_solver() from idaes.core.util.misc to idaes.core.solvers?  It may be good to sort misc out into more specific modules where possible.

[2021-10-26 16:02] lbianchi-lbl opened #570 "Errors with units after Pint update (ValueError: Unknown conversion specified: !C)"
- The likely cause of this error is a breaking change introduced in Pint (the library on which Pyomo's units functionality is built on) that removes support for a format currently used in Pyomo
- This is causing widespread job failures in CI jobs, which are most likely unrelated to the changes in the code
- A PR with a fix in Pyomo is being worked on at the moment

[2021-10-27 17:22] #570 closed, assigned to jsiirola, andrewlee94, lbianchi-lbl

[2021-10-28 19:37] eslickj opened #577 "Move most flowsheets to examples repo?"
I think we should move flowsheets for specific cases to the examples repo.  While being called examples may be sightly less than ideal, I think it makes the most sense.  Most the the NGCC branch would end up in examples instead of its current location.

I think the distinction between flowsheets that belong in idaes-pse and examples-pse is that flowsheets in idaes-pse should be general purpose whe

[2021-10-29 15:47] izsahara opened #580 "Enforce Latin Hyper Cube sampler to take on samples from the bounds"
I have a input data set of size `500,000 x 5`, which has been normalized prior to LHS sampling.
When attempting to draw a LHS of 250 samples, the range of the extracted LHS does not match the original data set range.
Is there a way to enforce the sampler to take on samples at the bounds?

[code]

[2021-11-03 04:24] #580 closed

[2021-11-03 20:42] andrewlee94 commented on #304
I think the basic implementation of this is in place. We can address the need for equations in other EoS modules on a case-by-case basis.

[2021-11-03 20:42] #304 closed

[2021-11-03 20:44] andrewlee94 commented on #557
This was fixed in https://github.com/IDAES/examples-pse/pull/68

[2021-11-03 20:44] #557 closed

[2021-11-04 18:33] #425 closed

[2021-11-04 18:41] ksbeattie commented on #236
@bernalde is this still happening for you?

[2021-11-05 20:48] #495 closed

[2021-11-05 20:55] dangunter opened #593 "Interface to CoolProp"
Provide an appropriate IDAES interface to relevant parts of the CoolProp database

[2021-11-05 20:57] dangunter commented on #593
e.g., for the property  vapour pressure (Psat), where Psat = A + B/(T+C) , use CoolProp to derive the A, B and C

[2021-11-05 20:59] andrewlee94 commented on #593
Some other low hanging fruit are the critical temperature, pressure and acentricity factor for components. I managed to find a set of json files which contained those for a long list of components easily.

[2021-11-05 21:22] dangunter commented on #593
Is the acentricity factor calculable from Tc, Psat, and Pc?

[2021-11-08 13:49] andrewlee94 commented on #593
No, acentricty factor is normally a parameter in its own right (although its definition is based on measurements at a specific value of Tc and Pc).

[2021-11-10 20:34] ksbeattie commented on #432
@adowling2, @xiangao1 is this still possible for the Nov release?  As in within the next week?

[2021-11-10 20:40] #553 closed

[2021-11-10 20:44] ksbeattie commented on #444
Possibly add a deprecation warning when imported in 3.6 for the Nov release?

[2021-11-10 20:46] adowling2 commented on #432
No, but release after Nov.

[2021-11-15 16:01] dallan-keylogic commented on #204
What is the status of these improvements, @adowling2 ? In particular, does the current version of Degeneracy Hunter support fixed variables? I'm finding that a certain IDAES model has a rank deficient Jacobian, but that information is significantly less useful if those degrees of freedom are defined by fixed variables instead.

[2021-11-15 16:12] dallan-keylogic opened #597 "Degeneracy Hunter SVD analysis"
Using Degeneracy Hunter to debug a flowsheet that isn't converging, I'm running into problems with `scipy.sparse.linalg.svds` in computing the smallest singular values of the Jacobian. Apparently, `ARPACK` [has problems finding small eigenvalues](https://docs.scipy.org/doc/scipy/reference/tutorial/arpack.html) without shifting the spectrum, and `svds` makes no attempt to shift the spectrum. We pro

[2021-11-17 22:14] bpaul4 opened #602 "Uncertainty Propagation Test Failures"
The first two tests in idaes/apps/uncertainty_propagation/tests/test_uncertainty.py fail due to a Numpy TypeError. On lines 53 and 83, the code calls `np.testing.assert_array_almost_equal(results.theta, [19.142575284617866, 0.53109137696521])`, where `results.theta` is a dictionary list that is compared to a list of float objects. Replacing each line with `np.testing.assert_array_almost_equal(list

[2021-11-17 22:20] lbianchi-lbl commented on #602
@bpaul4 could you run `pip list` in the same environment and post the output here? It's just a guess, but it looks like something that could be caused by an update in one of IDAES's dependencies.

[2021-11-17 22:22] bpaul4 commented on #602
Package                            Version             Location
---------------------------------- ------------------- -------------------------------
absl-py                            0.13.0
addheader                          0.2.3
alabaster                          0.7.12
appdirs                            1.4.4
argon2-cffi                        20.1.0
arrow                              1.1.1

[2021-11-18 17:31] eslickj opened #605 "as_quantity utility function?"
[referring to ``_as_quantity()`` function see link] Seeing as this is turning up in a few places, should we be making this a general utility somewhere?

_Originally posted by @andrewlee94 in https://github.com/IDAES/idaes-pse/pull/600#discussion_r752274020_

[2021-11-18 19:37] ksbeattie commented on #597
@dallan-keylogic, let me know if you disagree with the priority and target release.

[2021-11-18 19:38] Robbybp commented on #597
I've had success using `solver="lobpcg"` in `svds`.

[2021-11-18 19:40] adowling2 commented on #597
@dallan-keylogic How large is the model? Are there specific solver options we should add in Degeneracy Hunter?

[2021-11-18 20:02] dallan-keylogic commented on #597
@adowling2 It's actually only around an 800x800 square problem. Using a normal SVD works fine. Using `solver="lobpcg"` didn't help in my case. We need to form the matrix X'X then call `eigsh` in shift-invert mode.

I'm going to create a small PR replacing `svds` with `svd`, as well as some other necessary changes (get the scaled Jacobian rather than the raw Jacobian and make sure pretty printing c

[2021-11-19 11:49] adowling2 commented on #597
@dallan-keylogic Good plan. My suggestion is to add `svd_option` as an input argument to degeneracy hunter. We can then support `dense`, `sparse`, etc.

[2021-11-19 15:31] dallan-keylogic commented on #593
It would be good to create some batches of data from CoolProp to validate our implementation of some property package. In particular, they have a [cubic EoS implementation](http://www.coolprop.org/coolprop/Cubics.html) that we could use to generate data to check our own implementation against. Their website isn't the greatest (I know, those who live in glass houses...), but [I did find that it's a

[2021-11-19 15:38] andrewlee94 commented on #593
@dallan-keylogic Actually, CoolProp is likely to be come at least a partial dependency for our tests by the end of the year. WE are separately looking at ways to load parameter data from CoolProp's database, so that will become past of our testing.

[2021-11-23 15:26] dallan-keylogic commented on #304
Just a note here in case it ever comes up again. I wanted to validate my implementation of partial molar quantities for `ceos.py` against derivatives calculated numerically. I found an equation for a partial molar quantity in terms of derivatives with respect to mole fractions in my thermo textbook.

[code]

However, in order for this method to work, the functions need to be explicit functions of

[2021-11-25 22:09] avdudchenko opened #612 "Setting up IDAES on CentOS cluster (Stanford - sherlock)"
Hi,
I have been trying to set up idaes on a Sherlock cluster ran at Stanford. The use CentOS, with Slurm.

I can setup IDAES and run ideas get-extensions without errors. However, trying to run a solve leads to following error:

ERROR: Solver (ipopt) returned non-zero return code (127)
ERROR: Solver log: /home/users/adudchen/.idaes/bin/ipopt: error while loading
    shared libraries: liblapack.so.3

[2021-11-29 17:45] andrewlee94 opened #614 "Potential out-of-date import in example notebooks."
### Discussed in https://github.com/IDAES/idaes-pse/discussions/613

<div type='discussions-op-text'>

<sup>Originally posted by **chris-hampel-CA** November 29, 2021</sup>
Hi everyone,

I ran into an issue when installing the IDAES software and am hoping to hear if anyone has come across this error.

When starting at the **Generic Install** section on the instructions at https://idaes-pse.readthe

[2021-11-29 18:27] lbianchi-lbl commented on #612
@avdudchenko, thanks for reporting this issue. Could you provide more information about the solve run for which the error occurred, e.g. the exact command(s) and/or code snippet that were used following `idaes get-extensions`? This is just an educated guess, but I'm thinking this issue could be related to how the IDAES environment is set up (by default, when `idaes` or any of its submodules is imp

[2021-11-29 19:21] avdudchenko commented on #612
I just redid the install to get this info.
Commands as folows:

(idaes) [user]$ conda create --name idaes

(idaes) [user]$ conda activate idaes

(idaes) [user]$ pip3 install idaes-pse --user

(idaes) [user]$ idaes get-extensions
Getting files...
Done
---------------------------------------------------
IDAES Extensions Build Versions
===================================================
Solvers:  v2.

[2021-12-01 18:20] dallan-keylogic opened #615 "Future Enhancements to Cubic EoS"
After my deep-dive into cubic equations-of-state, I've come up with various ideas about future improvements that could be made. None of these ideas are major priorities currently, but I want a public record in case somebody else requests they be prioritized in the future.

- [ ] Quadratic mixing plus pairwise interactions for covolume b. Effort: Medium-High---this affects the fugacity coefficient

[2021-12-01 18:36] dallan-keylogic opened #616 "Prebuilt Translator Blocks for Generic Property Package"
Adding entropy of mixing terms using logarithmic concentration variables has caused some difficulty with `pressure_changer`s. Trace components in a stream (on the order of `x_j=1E-16`) result in equation degeneracy when the isentropic assumption is used. In principle, this can be dealt with by scaling, but using scaling typically implies that the user knows what components are going to be present

[2021-12-01 18:50] adowling2 commented on #615
@bbefort @agarciadiego Any suggestions? Please post here.

[2021-12-01 22:45] bernalde commented on #236
I can try rerunning these again, but currently anyone with a WSL can give it a try. I can verify it later this week.

[2021-12-02 00:24] eslickj commented on #236
@bernalde, as you probably know, I don't think these failures really should affect you and IDAES should work fine.  I do have WSL and can reproduce these failures.  I can take over trying to finish resolving this, so we don't need to keep bugging you to run the tests.  I've seen very slight solver differences between platforms that can sometimes cause very delicate tests to fail occasionally.

[2021-12-02 16:18] andrewlee94 commented on #356
@eslickj Whilst attaching the initialization status to the model would avoid the API issues, I don't really like the idea attaching information like that to the model. For one, it will become out of date as soon as the next solver call is made - i.e., it only tells us that the model was initialized at some point, but not when.

Another possibility would be to shoe-horn the solver status into the e

[2021-12-02 18:01] eslickj commented on #356
@andrewlee94, this is a really unpleasant suggestion, but I've wondering about using @Robbybp's context manager that allows you to temporarily fix certain variables or get submodels for initialization.  I know it would be a huge pain to update things, but if we would break the API for this, we could consider lumping those together.

[2021-12-02 18:46] andrewlee94 commented on #356
Noting outcome of discussion at Dev Team call: it was decided to have initialization routines raise an Exception if the final step fails. Initialization routines could optionally raise an Exception earlier if desired.

[2021-12-02 19:07] andrewlee94 commented on #94
I think this is somewhat out of date now, with the move to Diataxis.

[2021-12-02 19:07] #94 closed

[2021-12-02 19:15] andrewlee94 commented on #135
Closing due to lack of progress. If the issue still exists then someone can reopen.

[2021-12-02 19:15] #135 closed

[2021-12-02 19:36] lbianchi-lbl commented on #612
Hi @avdudchenko, thanks for the follow-up. I have a few questions:

- I see that you're creating and activating a Conda environment, which should result any `pip install`ed modules to be installed in that environment
  - To confirm this, you can run e.g. `which pip` or `python -c "import sys; print(sys.executable)"` after activating the environment
  - Typically this is the path stored in the env

[2021-12-02 19:51] lbianchi-lbl commented on #602
@bpaul4 @andrewlee94 I thought this was ringing a bell and I now remember I briefly looked into the code. It looks to me like the logic in these lines (https://github.com/IDAES/idaes-pse/blob/main/idaes/apps/uncertainty_propagation/uncertainties.py#L139-L145) could be related to the error:

[code]

e.g., depending on whether `variable_clean` is true or not, a different type is returned, which then

[2021-12-02 19:57] ksbeattie commented on #151
@dangunter another chance to check on this again (before closing it)?

[2021-12-02 19:58] andrewlee94 commented on #602
@lbianchi-lbl That does sound like there is an underlying bug in the code. However, it is also unusual that @bpaul4 is seeing errors whilst running a test that passes on other systems.

[2021-12-02 21:47] adowling2 commented on #602
I quickly looked at the code. I believe `theta` will be a dictionary if `variable_clean` is true or false.

Any chance that the behavior of `np.testing.assert_array_almost_equal` changed? Perhaps in the version in our testing suite, it was okay with the type error. But now it is not? Is there an equivalent "assert almost equal" for dictionaries?

[2021-12-02 21:50] adowling2 commented on #602
Looks like https://numpy.org/doc/stable/reference/generated/numpy.testing.assert_array_almost_equal.html

fell out of favor and https://numpy.org/doc/stable/reference/generated/numpy.testing.assert_almost_equal.html

should be used instead.

[2021-12-10 14:22] eslickj opened #623 "Mark PRs to not run tests?"
I don't want to make things to complicated, but I was thinking it would be nice to be able to label PRs so that tests don't run.  I may be just be but if I'm working with other people on something, it's nice to make a draft PR so it's easy to see what's changing.  I tend to push commits like frequently, and I feel like I'm using too many testing resources.

[2021-12-13 15:11] #243 closed

[2021-12-16 19:15] ksbeattie commented on #623
We could have GH Actions not run tests on draft PRs, but then we'd want a label/mark to run them.  In general I think this is a good idea, just need figure out exactly how.

[2021-12-16 23:00] #493 closed

[2021-12-16 23:28] dangunter opened #632 "Make flowsheet viewer diagram height resizable"
In the Flowsheet Viewer, would avoid scrolling in some cases to be able to make the diagram section of the window shorter.

[2021-12-17 04:00] lbianchi-lbl opened #633 "Test failures in test_commands::test_conf_set after #628"
## Symptoms

- As part of #628, a module-level `pytest.mark.skip` marker was added to `idaes/commands/tests/test_commands.py` because of the known issue with the intermittently failing integration tests described in #493
- However, this seems to have shadowed a real test failure happening in `test_conf_set` of the same file, that emerged once #631 converted the `skip` marker from module-level to t

[2021-12-17 04:07] lbianchi-lbl commented on #633
@carldlaird, @andrewlee94, @jsiirola, @blnicho, @eslickj, @dangunter: this is just FYI as @ksbeattie and I should be able to deal with this in the short term for the release, but feel free to chime in if you have dealt with something like this in the past, or have any thoughts on the matter.

[2021-12-17 22:43] #633 closed

[2021-12-19 04:16] Robbybp opened #637 "Can't add `pressure_dx` in 1-D control volume without adding `pressure_balance` as well"
For the pipeline models, I'd like to add a `pressure_dx` variable, and would like to use `ControlVolume1D`'s method for doing so. I do not, however, want a `deltaP` variable or `pressure_balance` constraint. I propose we split the `add_total_pressure_balances` method into two methods: one which adds the pressure derivative and one which adds the pressure balance. The method to add the pressure der

[2021-12-20 15:07] andrewlee94 commented on #637
@Robbybp Could you comment a bit more on what you wish to do instead of the pressure balance constraint?

The biggest issue I see with this idea is that it raises the question of if this should be done for all the other methods as well for consistency (including potentially 0D models).

[2021-12-20 15:09] andrewlee94 commented on #614
This issue occurred due to a user having an older version of Pyomo installed in their environment which was being used instead of the latest requirement.

[2021-12-20 15:09] #614 closed

[2021-12-22 11:25] GuillermoGarciaF commented on #85
Hello, thank you for the great package, it is really nice, good work!

Are there any updates on this topic? I am having a lot of issues figuring out if a need to install ALAMO software and license to use the idaes.surrogate.alamopy wrapper.
Currently, it fails and throws the following error #24

Thank you!

[2021-12-22 14:27] andrewlee94 commented on #85
Hi @GuillermoGarciaF, we are still working on updating the documentation for the new ALAMO interface, and it will not be ready until after the holiday break unfortunately.

You do need to install ALAMO separately along with a license - the IDAES code is just a wrapper that prepares the .alm file for you and reads the resulting trace file back in to create surrogate object.

[2021-12-28 14:20] GuillermoGarciaF opened #643 "Request for confidence intervals in surrogate metrics"
Function `alamopy.almconfidence(data=result)` throws the following TypeError

` 54         # print(f"numerator {float(data['ssr'][okey])}") `
` 55         print(f"denominator {(float(ndata) - float(nlinterms))}") `
` ---> 56         sigma = float(data['ssr'][okey]) / (float(ndata) - float(nlinterms)) `
` 57         ci = np.zeros([nlinterms])`
` 58         covar = sigma * np.linalg.inv(np.matmul(np

[2021-12-29 14:32] andrewlee94 commented on #643
@GuillermoGarciaF The version of `alamopy` (along with `almconfidence`) you are using has been deprecated in favour of a new implementation, thus we are no longer supporting and updating this code. The new version of `alamopy` can be found in the latest release (v1.12) here: https://github.com/IDAES/idaes-pse/blob/main/idaes/surrogate/alamopy.py.

The new `alamopy` is part of a new integrated inte

[2022-01-03 18:11] bpaul4 opened #644 "Reoccurring Pytest Failure on Ubuntu Python 3.8/3.9"
Recently the test called by idaes/surrogate/pysmo/tests/test_utils.py::TestNumpyEvaluator::test_eval_numpy has been failing due to a seemingly minor precision error (see GitHub Actions pytest output below). The fix may be simply updating the called Numpy version, or related to Ubuntu-specific processes as this error does not occur for Windows either locally or through GitHub Actions.

Ubuntu w/ Py

[2022-01-03 19:12] bpaul4 commented on #602
After updating my local Numpy packages, these failures no longer appear on my local machine. I believe this issue has been resolved and may be closed.

[2022-01-03 19:36] adowling2 commented on #602
Can you post your package versions post upgrade? Mainly to document if this resurfaces.

[2022-01-03 20:47] bpaul4 commented on #602
[code]

[2022-01-05 15:34] Robbybp opened #646 "unit model's `add_state_material_balances` relies on a "params" attribute"
`add_state_material_balances`, which I believe is used to add material balance equations for unit models that do not need a control volume, relies on its two state blocks having a "params" attribute, which I don't think is a strict requirement of property packages (correct me if I'm wrong). It seems like accessing `state.config.parameters` would be safer.

[2022-01-05 15:59] andrewlee94 commented on #646
@Robbybp The `params` property is part of the `StateBlockData` base class, so I think it is fair to say it is a strict requirement of a property package. The main purpose of the `params` property is for things like this.

[2022-01-05 16:22] Robbybp commented on #646
Yep, had a bug that gave me an error here, then I misread the **property_base.py** and missed that params was being added with the property decorator. Not an issue.

[2022-01-05 16:22] #646 closed

[2022-01-05 20:59] lbianchi-lbl commented on #644
Thanks for reporting this @bpaul4. As far as I can tell this looks like a floating point precision issue (the discrepancy is in the last digit). The more interesting question for me is what caused the test to start failing in the CI, since it doesn't seem to be tied to a change in the code itself. My guess would be something in numpy and/or the system libraries in the Ubuntu version that's being u

[2022-01-06 19:24] ksbeattie commented on #444
Moving this to the Feb release for when 3.6 will be official removed from support.

[2022-01-06 19:38] ksbeattie commented on #644
Fixed by #647

[2022-01-06 19:38] #644 closed

[2022-01-06 20:17] lbianchi-lbl opened #648 "Expand set of environments on which CI checks are run to detect OS- and OS-version-specific problems"
## Description

- Recently there have been some instances of solver errors that only occur on a specific OS or OS version. One example is e.g. IDAES/examples-pse#83, where the solver fails when running the notebook on CentOS 8, but not on Ubuntu 18.04, which is the OS version we're using in GitHub Actions (GHA) to run our CI checks on Linux
- This is a "false negative" for our current CI setup: th

[2022-01-07 17:04] Robbybp opened #649 ""Bonmin" link in "Binary Packages" documentation points to Petsc website"
On the following page:
https://idaes-pse.readthedocs.io/en/stable/getting_started/binaries.html
under "Main packages", the "bonmin" bullet. I assume this is not intentional.

[2022-01-10 17:36] adowling2 commented on #467
From @bknueven, working on closing one open Prescient PR, then cut a PyPI release

[2022-01-10 17:49] adowling2 commented on #467
@lbianchi-lbl What are your thoughts on converting the above-linked notebook into a Prescient "existence" test? I think the test would essentially:
- download the required data
- run Prescient
- check that the results files were created

[2022-01-10 18:19] lbianchi-lbl commented on #467
@adowling2 from what I can see from having skimmed through the notebook, I think this could be a reasonable option. A couple of questions:

1) would be possible to "slim down" the current version to a minimal working version containing only the code that's strictly necessary for running the most basic workflow? This would help in terms of making the test simpler and more robust
2) As I understand,

[2022-01-10 18:27] xiangao1 commented on #467
Hi @lbianchi-lbl and @adowling2 , I learned that @bknueven has been working on this 5-bus example of Prescient, i.e., small scale, and it comes with the data: https://github.com/bknueven/Prescient/tree/5bus_case/examples

Maybe this is what we need.

[2022-01-10 18:44] adowling2 commented on #467
Yes, this is actually what we want for an "existence" test.

[2022-01-10 20:53] lbianchi-lbl commented on #467
@xiangao1 Thanks for the pointer. At the link you posted, I can see some data files (`simulate_5bus.txt` and the `5bus` subdirectory), however, the notebook itself (i.e. https://github.com/bknueven/Prescient/blob/5bus_case/examples/prescient_tutorial.ipynb) doesn't seem to reference either the file or the `5bus` directory, and actually looks identical to the one you mentioned a few months ago in t

[2022-01-10 21:58] bknueven commented on #467
Ignore the notebook -- it needs to be updated. I'll add a Python file to the PR I'm already working on with that test case.

[2022-01-10 22:24] bknueven commented on #467
Here is a good example runner file: https://github.com/bknueven/Prescient/blob/5bus_case/examples/simulate_5bus.py

That takes about five minutes on my system. For the purposes of this test, we can change a few options to lower that time to 15 seconds.

[2022-01-10 22:34] lbianchi-lbl commented on #467
@bknueven that's awesome, thanks! I'll open a draft PR in IDAES using that code and data files. I understand that it might not work immediately, but at least we'll have a starting point to work on.

[2022-01-11 14:11] dangunter opened #654 "FS vis tests opening browser windows"
OS: Linux

But should also fix so it *cannot* happen on MacOS and Windows.

[2022-01-11 14:27] dangunter commented on #654
Note that the fix does not need to be universal or permanent. Something used only by the tests to turn off opening browser windows will suffice.. for now.

[2022-01-12 01:16] #444 closed

[2022-01-12 02:21] dangunter opened #657 "Add Jupyter notebook iframe support for inline viewing"
This will allow the visualizer to work in the notebook more naturally, hopefully. First pass (this issue) is to get it to work at all. Future work is to customize what is displayed and remove some of the web UI window dressing.

[2022-01-12 17:10] lbianchi-lbl opened #661 "Test failures in DMF test_magics after IPython 8.0.0 release"
As originally brought up by @eslickj in #552, it looks like there is a breaking change in IPython introduced by 8.0.0 that apparently was released just a few hours ago: https://pypi.org/project/ipython/#history

![image](https://user-images.githubusercontent.com/48035537/149187673-4771cb40-86d5-4e20-a0cb-d24245090853.png)

One temporary fix to try would be to add a requirement with version constra

[2022-01-12 21:16] #661 closed

[2022-01-13 19:57] ksbeattie commented on #236
@andrewlee94, says that the still failing test are planned on being removed.  At that point, this issue should then be closed.

[2022-01-13 19:58] #602 closed

[2022-01-18 00:40] #649 closed

[2022-01-20 17:44] dangunter commented on #654
@elbashandy Did you look at this?

[2022-01-20 20:34] elbashandy commented on #654
@dangunter yes! I fixed it here https://github.com/IDAES/idaes-pse/pull/656

[2022-01-21 14:18] andrewlee94 opened #669 "Reduce the number of magic string constants in code"
From a comment in #620:

@dangunter:

In the snippet of code above, there are actually two sets of magic string constants and I think that if we were to implement thus we would want to create separate classes for each:

1. A set of standard names for properties (probably part of `property_base.py`)
2. A set of recognized units of measurement (probably part of `property_meta.py`)

Do others have th

[2022-01-21 14:37] andrewlee94 commented on #669
One thought that did just cross my mind is that this could make it easier for us to document these things, as we could use Sphinx to autogenerate the docs based on the class of string constants,

[2022-01-21 15:23] eslickj commented on #669
I like the suggestion.  Just make some classes that are like Enum but with string constants.  Maybe we could have it so there is an easy method to check if a string const is defined in the class for argument validation in case people supply strings directly.

[2022-01-21 17:41] jsiirola commented on #669
One of the things we have used in the past was a string-variant of Enum (see, e.g.  https://github.com/Pyomo/pyomo/blob/2ad064be83da890f07fb1cd6109aca6ed4916c69/pyomo/core/expr/calculus/derivatives.py#L16-L27):
[code]

This makes an enum that provides a lot of backwards compatibility with striings.  In particulet, the multiple inheritance and `__str__` overload causes the following to work:
[code]

[2022-01-24 17:17] lbianchi-lbl opened #671 "pandas._config.config.OptionError: 'Pattern matched multiple keys' for Python 3.8+"
- Originally detected in https://github.com/IDAES/idaes-pse/runs/4922743870?check_suite_focus=true
- The code where the error occurs is in `idaes/surrogate/pysmo/radial_basis_function.py:660`, in `pyomo_optimization()`:
[code]
- Most likely cause is a change in pandas 1.4.0 (released on Jan 22, that is only compatible with Python 3.8+), where a new configuration option was added
  - Search for "pr

[2022-01-24 18:35] #671 closed

[2022-01-24 18:53] rustygentile opened #673 "Add wall temperature and heat accumulation terms to the 0D heat exchanger"
# Summary
Hello IDAES team. I have a unit model that, I think, would make a nice contribution as a pull request. A draft of it can be found [here](https://github.com/CATER-UCF/sco2-air-cooler/blob/master/models/heat_exchanger_lumped_capacitance.py). Our use case was for a transient simulation of an sCO2 power cycle, though there's nothing really sCO2 or power plant specific here. This could be use

[2022-01-24 19:01] rustygentile commented on #673
Another note: it seems that, as an external user, I don't have permission to assign this to myself as the [docs](https://idaes-pse.readthedocs.io/en/stable/advanced_user_guide/developer/devsw.html#create-an-issue-on-github) suggest.

[2022-01-24 22:10] #654 closed

[2022-01-26 16:56] dangunter opened #676 "Add documentation for interface to CoolProp"
There will need to be some documentation on the new coolprop interface

* **concepts** of what coolprop is and why we have wrapped it
* **how to** do specific things in coolprop, including installation steps
* **tutorials** on coolprop integrated into a larger workflow and/or customizing it
* **reference** for the coolprop functions

[2022-01-26 21:45] eslickj commented on #673
This looks great.  I didn't look at the details really close, but I have some notes on style.  To accommodate the possibility of indexed models and to have your constraints built automatically, you can inherit HeatExchangerData and implement the build method.

Here's an example (see one of the IDAES model for a concrete example):

[code]

[2022-01-27 14:24] eslickj commented on #673
As for the questions, I'd say the model looks like it fits in the generic_models directory, and depending on how complicated your example is I'd say there are two options.  1) Add a documentation page and include the short example in the documentation.  2) If you have a more involved example the examples-pse repo is probably the right place.  For keeping changes in sync, I think you can make a PR

[2022-01-27 22:29] lbianchi-lbl opened #677 "Support for Python 3.10"
- Python 3.10 is currently the latest stable release of Python; as such, it is (or will soon be) increasingly used as the default version, both at the OS installation level and within Conda environments
- This issue is to track the current status and future support of Python 3.10 compatibility for IDEAS

## Current status

IDAES is currently not tested with Python 3.10, which should therefore be c

[2022-01-31 15:56] andrewlee94 opened #682 "More flexible definition of units of measurement"
Derives from #650

So, to summarize the discussion:

1. To allow custom units in models, we would need to add convert statements to basically every term in every constraint in the core IDAES models. Whilst individually not hard, this is a large volume of work for which we currently do not have the resources.

2. Additionally, adding all these convert statements adds a very significant computationa

[2022-02-03 20:02] andrewlee94 commented on #104
Closing this in light of the ongoing development of a new costing framework.

[2022-02-03 20:02] #104 closed

[2022-02-03 20:02] andrewlee94 commented on #593
Closing this as we now have such an interface.

[2022-02-03 20:02] #593 closed

[2022-02-04 15:33] mharyoowa opened #691 "Error Message from running examples/tutorials"
Hello Everyone,

So I am new to IDAES and I got a "ModuleNotFoundError: No module named 'idaes'" while running the examples/tutorial. How do I correct this?

Here is a picture:

![image](https://user-images.githubusercontent.com/99033999/152556553-d9ae18f9-c5fd-4a0e-ac8e-472021ce372b.png)

[2022-02-04 15:44] bpaul4 opened #692 "Pytest Boolean Assertion Error"
I noticed two new errors in GitHub Actions runs this morning in `idaes/dmf/tests/test_util.py::test_datetime_timestamp` and `idaes/generic_models/properties/core/eos/tests/test_ceos_PR.py::test_common`. Both errors gave the same output message:

[code]

from calling `pytest.approx()' methods. I traced this back to its source (https://github.com/pytest-dev/pytest/blob/57f8f5d2b313b9601872a1184a8090

[2022-02-04 15:49] andrewlee94 commented on #692
@bpaul4 I saw these as well, and they are due to a not that recent change in Pyomo (I am not sure why it took so long for these to show up). The issues is that one side of the assertion is a Pyomo expression which is not wrapped by the `value` function,

[2022-02-04 15:52] bpaul4 commented on #692
@andrewlee94 okay, I can open a PR to fix these two tests if that is the best way to go. Curiously, I did not see these failures locally although the Windows environments failed on GitHub Actions even after updating my local `main` branch.

[2022-02-04 16:42] lbianchi-lbl commented on #692
@bpaul4 thanks for opening an issue about this. It looks like pytest just released a new major version (7.0.0) a few hours ago (https://pypi.org/project/pytest/#history), which I guess could be the reason why this error is only showing up now. The fix would be to either pin the pytest major version to 6, or, if these are the only parts of the codebase that are causing issues with pytest 7, try to

[2022-02-04 16:43] andrewlee94 commented on #692
@lbianchi-lbl We have a PR open to fix the tests themselves - they are minor changes so we shouldn't be pinning `pytest` over something this small.

[2022-02-04 18:25] lbianchi-lbl commented on #691
Hello @mharyoowa, this looks like a possible problem with the environment where the notebook is being run.

Could you perform the following checks, and paste the resulting output here?

1. In the notebook, create a code cell with the following Python code and run it:

[code]
2. In the notebook, create a code cell with the following command, and run it:

[code]

[2022-02-04 21:40] andrewlee94 commented on #72
Closing due to lack of activity.

[2022-02-04 21:40] #72 closed

[2022-02-04 21:46] andrewlee94 commented on #210
This will become part of the new costing framework when it is implemented.

[2022-02-04 21:46] #210 closed

[2022-02-05 19:51] #692 closed

[2022-02-05 20:49] sreekanthrajagopalan opened #694 "Error reading ALAMO trace for training instance with NOUTPUTS > 1 and validation dataset"
The current implementation of [alamopy.py](https://github.com/IDAES/idaes-pse/blob/ba1793c5f1aba9055e2cadbe151d1a3dc1631136/idaes/surrogate/alamopy.py) seems to support a single validation dataset and only a single validation dataset based on the following observations:

1. `AlamoTrainer._validation_dataframe` is written to the ALM file based on hunks: [lines 630-632](https://github.com/IDAES/idae

[2022-02-06 22:39] mharyoowa commented on #691
Thank you! It works now.

[2022-02-07 14:01] andrewlee94 commented on #694
@sreekanthrajagopalan The current implementation of the ALAMO interface does only support a single validation dataset. This is by design, in part due to the design of the overall IDAES surrogate modeling interface and in part due to the additional challenges associated with managing multiple dataset, some of which you touched upon in the issue above.

At this stage, we do not have the resources to

[2022-02-07 17:18] sreekanthrajagopalan commented on #694
@andrewlee94, even with a single validation set, the interface fails when trained for multiple outputs. The only way to support validation set currently is to train each output variable using a separate trainer object.

Thanks for the looking into this issue. I will submit a PR when I get a chance to work on this.

[2022-02-07 17:34] andrewlee94 commented on #694
@sreekanthrajagopalan Ah, now that part is definitely a bug that we should look into. That is hopefully a simple update to the trace file parser, although we will also need to look at how to properly validate the result (i.e. make sure we got the right line in the trace file).

[2022-02-07 17:35] andrewlee94 commented on #694
Also, on the topic of metrics, we decided not to use the metrics from ALAMO itself, as the IDAES surrogates interface has its own tools for calculating metrics which give us more control over the data and greater significant figures (due to not needing to parse a text file).

[2022-02-07 21:45] sreekanthrajagopalan commented on #694
@andrewlee94 The bugfix should be straightforward - ignore rows in the trace file with SET value not equal to 0 while parsing (0 corresponds to the default/training dataset).

It makes sense to implement metrics in the SurrogateBase. I will look into it. Since _results is a technically a "private" member of AlamoTrainer, it should be an easy extension to store ALAMO metrics for all the datasets wi

[2022-02-07 21:47] lbianchi-lbl opened #696 "Error when running `idaes` commands: TypeError: __init__() got an unexpected keyword argument 'package_name'"
Originally reported by @elbashandy, this issue can occur when running any of the `idaes` commands from the command line:

[code]

The cause for this is likely that the installed version of `click` is not compatible with the `package_name` option, introduced in Click 8.0. To verify this, run `pip show click`.

A quick solution is to update the installed version of `click`, e.g. by running `pip inst

[2022-02-07 21:58] andrewlee94 commented on #694
So, a few comments. As I mentioned, IDAES Already has a separate `metrics` package which can calculate things like RMSE, etc., which is already fully implemented and supported. See https://github.com/IDAES/idaes-pse/blob/main/idaes/surrogate/metrics.py.

In light of this, my first reaction is to actually remove support for passing the validation set to ALAMO entirely, and just use the IDAES `metri

[2022-02-07 22:32] sreekanthrajagopalan commented on #694
I fully support use of surrogate/metrics for post-training pipeline tasks. However, I think we should keep the support for passing a validation set (in fact implement multiple validation sets driven by community interest) in case ALAMO can leverage these datasets for model building in the future - for e.g., use metrics based on validation set(s) for training loss function (unless of course there i

[2022-02-09 20:19] eslickj opened #701 "Cubic function root finder and Cubic EoS"
I want to take the generic Cubic EoS stuff out of the cubic root calculator function.  This will make the external function simpler and the whole thing more flexible if we want to add a new type of cubic EoS.

Right now how it works is the external function take eos type (Peng-Robinson, SRK, or Van der Waals) and A and B.  Then based on the EoS type, A and B and calculates the roots.  What I want

[2022-02-09 20:23] adowling2 commented on #701
@bbefort @agarciadiego FYI

[2022-02-09 20:27] adowling2 commented on #701
Yes, this seems more flexible.

[2022-02-09 20:36] viiibhav commented on #701
Seems good to me, I am assuming the derivatives will now be calculated in pyomo. Will this include the mock extension for the cubic EoS?

[2022-02-09 20:41] andrewlee94 commented on #701
I do not see an issue with this.

[2022-02-09 21:00] eslickj commented on #701
@viiibhav, the derivatives for 0 = z^3+bz^2 + cz + d with respect to the coefficients will still be calculated in the external function.  I'm thinking I will add three options, mock root, same root, and error, for when a real root doesn't exist.

[2022-02-10 16:59] rustygentile commented on #673
@eslickj, @andrewlee94, thank you both for the feedback and the style hints. I should have the PR submitted within the next week or so.

Overriding `build` and `initialize` did occur to me, though how to inherit the parent model's config and extend it like that wasn't so obvious.

That makes sense. To reach the `generic_models` standard, is there another model and set of tests that you recommend I

[2022-02-10 19:20] ksbeattie commented on #696
Probably best to force `click>=8`

[2022-02-11 00:02] lbianchi-lbl opened #705 "Spring cleaning for dependencies"
## Goals

- [ ] Get rid of dependencies that are not needed anymore
- [ ] Separate remaining dependencies in two broad categories:
  - *core*: used extensively throughout the IDAES codebase
  - *optional*: only used in a limited subset of submodules and/or applications, i.e. not all IDAES users will need them
- [ ] Divide optional dependencies in a reasonable amount (`2 <= n < 8`) of categories to

[2022-02-11 14:13] andrewlee94 commented on #705
@lbianchi-lbl Do you want us to update the table above if we have comments to make? E.g. `pint` is basically required for all IDAES models through our use of `pyomo`'s unit covnersion tools.

[2022-02-11 14:53] andrewlee94 commented on #705
On the topic of things like `pytest` - these are only used by the tests, an thus many users probably aren't that concerned. However, we do (or at least did) tell users to run tests as part of the installation.

Personally, I would be inclined to make things like this a `developer-only` dependency to keep the burden on the user low, but we would need to come up with an alternative for testing an ID

[2022-02-11 15:10] andrewlee94 commented on #705
@lbianchi-lbl I would also suggest that we might also want to have some further "use-case" only dependencies - i.e. things that are only used by one (sub-)package in the code. These we would just have a check for in the code, and tell the user that they need to get the dependency themselves.

I can see a few cases above where a "contrib-quality" package is bringing in a new dependency (e.g. `rbfop

[2022-02-11 15:13] lbianchi-lbl commented on #705
@andrewlee94 - thanks for the corrections for `pint`, `networkx`, and `pyyaml`. It seems that these should be part of the core dependencies, also considering that (AFAIK) the payoff from making them optional doesn't seem very substantial.

For `pytest`, I get what you're saying in that its primary use is by IDAES contributors, which would make it part of the separate dev dependencies in `requireme

[2022-02-11 15:41] lbianchi-lbl commented on #705
I've edited the original comment adding a first proposed grouping for the dependencies, as "Option A". Feel free to add your thoughts, either in a comment to the issue or by copying "Option A", making the changes, and posting it under a different identifier.

[2022-02-11 16:05] #701 closed

[2022-02-11 18:52] eslickj commented on #577
Okay.  I think this is resolved.  Unless I'm mistaken, if a flowsheet is specific to a process and serves as a good example for people putting together a similar process it goes in examples-pse.  If a flowsheet is general purpose and many people may want to run the flowsheet without changing it or looking at the code it goes in idaes-pse.  Another example of a general purpose flowsheet that would

[2022-02-11 18:54] eslickj commented on #577
Before I close this, I guess we should document this.  What's the appropriate place?  The developer section of the sphinx docs?  The Wiki?

[2022-02-12 09:30] PTA0001 opened #709 "Need for Reference State Definitions"
1. There exists a need for  various options of reference state definitions:
   -  Setting entropy reference and enthalpy reference(while this can be any arbitral constant for non-reactive systems, it becomes important for reactive systems and leads to point number 2)
   -  Setting Gibbs energy reference and enthalpy reference(mostly for reactive systems using the heat of formation  but also applic

[2022-02-14 15:54] andrewlee94 commented on #694
@sreekanthrajagopalan I just opened a PR with the fix for this issue: https://github.com/IDAES/idaes-pse/pull/710.

After talking with some ALAMO users in the team, it became apparent that the validation data is used for more than just post-fitting metrics and thus we need to support it (although the ALAMO documentation is silent on exactly how the validation data is used).

[2022-02-16 19:20] adowling2 commented on #432
@darrylmelander you mentioned today the option to create a Prescient plug-in in memory instead of writing to a file. Can you provide @xiangao1 with an example link here?

[2022-02-18 15:33] sreekanthrajagopalan opened #716 "ALAMOPY error when ALAMO termination is not Normal Completion"
When ALAMO executable terminates without Normal Completion status, a warning is raised and temporary files including any trace file are [cleaned](https://github.com/IDAES/idaes-pse/blob/68dcd0a5964994a3df62a70b78c0102dcf0d9609/idaes/surrogate/alamopy.py#L781). An error in the [call stack](https://github.com/IDAES/idaes-pse/blob/68dcd0a5964994a3df62a70b78c0102dcf0d9609/idaes/surrogate/alamopy.py#L5

[2022-02-18 15:46] #694 closed

[2022-02-18 15:49] adowling2 opened #717 "Demonstrate PyROS on rankine cycle IES example"
Overall goal: solve 24 hour bidding problem for Rankine cycle with uncertainty in LMPs using Pyros

Main Steps:
- [ ] Debug separation problem
- [ ] Specify uncertainty sets for 24-hour example

Code: https://github.com/shermanjasonaf/idaes-pse/tree/multiperiod-rankine-uncertainty/idaes/apps/multiperiod/examples
* ``multiperiod_rankine_uncertainty.py``

List of Side Issues:
- [ ] Do not rely on ``

[2022-02-18 15:50] andrewlee94 commented on #716
@sreekanthrajagopalan Could you provide us with a simple code snippet demonstrating the issue and the error messages returned? At the moment I am having a little trouble understanding exactly what is happening, and what you think should happen.

[2022-02-18 15:53] adowling2 commented on #717
Next steps from 2/18/2022 meeting:
- [ ] Update pynumero_ASL, need new IDAES get extensions?
- [ ] Post output shown in meeting today here with brief description on how it was generated

[2022-02-18 18:40] dallan-keylogic opened #718 "Bubble/dew methods broken for Henry's law"
Right now, one cannot call bubble/dew methods for a phase when Henry's law components are present, because the ideal EoS still uses the old Henry's law syntax to call them. Unfortunately, the solution is harder than just updating the syntax, because some Henry forms use a concentration basis instead of a mole fraction basis for the Henry's law expression. The `(log_)henry_pressure` does some logic

[2022-02-18 23:37] sreekanthrajagopalan commented on #716
@andrewlee94 Here is a trivial example where I am setting maxtime to 0.01 so that ALAMO terminates with a status other than Normal Completion. (In this case "ALAMO terminated with termination code 68\nMaximum CPU time (MAXTIME) exceeded.") I encountered this issue when running a training that exceed default time limit of 1000.

Example Python code:
[code]

Output:
[code]

Is it expected of the use

[2022-02-22 13:36] dangunter opened #719 "Models for thing-not-found messages"
As we move towards having parts of IDAES installed optionally, I thought it would be useful to see some good examples for messages to the user when something that is needed is not found. I will start with the one you get when you try to build the Sphinx documentation from the batch file without first activating an environment that has Sphinx installed:
[code]

[2022-02-22 18:36] andrewlee94 commented on #716
So, in this case yes, it is up to the user to decide to what to do in this case and a try/except would be the way to do it.

I am slightly surprised to see the follow on issues during clean-up, but otherwise this behavior is expected. If ALAMO fails, then it is up to the user to work out how to fix it, and there is no point returning a result.

[2022-02-22 20:23] #716 closed

[2022-02-22 22:52] elbashandy opened #721 "Squished Stream table when we untoggle and toggle all view options"
@ksbeattie has reported a bug in PR #700

"But wait, there's more.... try this:

    Uncheck all 3 in the View menu
    Hit refresh
    re-check all 3 in the View menu

The flowsheet is kinda gone, but comes back if you hit the zoom-to-fit button
And the Stream Table is all squished up."

I was able to reproduce the mentioned issue.

[2022-02-23 05:52] mharyoowa opened #723 "Error when setting "dynamic" to be True"
Hello guys, so I am trying to create a dynamic state flowsheet.  According to the documentation, If dynamic = True, the flowsheet is declared to be a dynamic flowsheet. I tried this but I keep getting an error message. Kindly see below:

![image](https://user-images.githubusercontent.com/99033999/155268009-cd055def-c215-4e1f-9164-e869e1212f99.png)
![image](https://user-images.githubusercontent.com

[2022-02-23 05:53] mharyoowa commented on #723
Also, is it possible to solve DAE problems in IDAES?

[2022-02-23 13:26] andrewlee94 commented on #723
@mharyoowa For you first question ,when declaring a dynamic flowsheet you also need to specify what units of time will be used for the time domain by also providing the `time_units` argument, e.g.:

[code]

For you second question, yes it is possible to solve DAEs in IDAES and we use this for both dynamic models and for spatially discretized unit operations (e.g. PFRs). You should start by looking

[2022-02-23 14:41] mharyoowa commented on #723
I'm still getting an error.

![image](https://user-images.githubusercontent.com/99033999/155341591-44b91088-d556-4057-9ad5-f359b0b96f91.png)

[2022-02-23 14:56] andrewlee94 commented on #723
You need to import `units` from `pyomo.environ`. In you case, add `units` to the import line, and then use `units.s` instead of `pyo.units.s`.

[2022-02-23 14:59] mharyoowa commented on #723
it finally worked. Thank you!!

One last one please, I can follow the examples for steady state to solve my dynamic state model right?

[2022-02-23 15:20] andrewlee94 commented on #723
@mharyoowa Not really - there is a significant step between solving a steady-state model and a dynamic model. Setting the `dynamic` flag to `True` will automatically add the accumulation and hold up terms to all your unit models, however that is only half the work in setting up a dynamic problem. Notably, with a dynamic system you also need to consider initial conditions for the system in addition

[2022-02-23 15:24] mharyoowa commented on #723
This is a lot and I'm kinda new to all this. Can you guys just create an example for solving dynamic state models?

[2022-02-23 15:50] andrewlee94 commented on #723
We will add a dynamic example to the list of additional documentation to generate as time/resources permit.  Pull requests are always welcome, though!

[2022-02-23 15:50] #723 closed

[2022-02-23 21:24] esrawli opened #725 "Attribute error when initializing IDAES GDP model using .json file"
I get the following error when initializing an IDAES GDP model using a .json file:

AttributeError: 'AutoLinkedBooleanVar' object has no attribute 'activate'

Any feedback would be great!

[2022-02-23 21:52] eslickj commented on #725
By default the JSON serializer tries to write whether a ``Var`` is active.  It seems that ``AutoLinkedBooleanVar`` looks like a subclass of ``Var`` but doesn't have the ``active`` attribute.  I can fix this pretty easy.  Will do it ASAP.  Overall I probably just need to handle the case where an expected attribute is missing more gracefully.

[2022-02-24 19:07] blnicho commented on #677
@lbianchi-lbl FYI Pyomo 6.3.0 officially supports (and tests against) Python 3.10

[2022-02-25 16:42] #696 closed

[2022-02-25 19:42] lbianchi-lbl commented on #612
Hi @avdudchenko, is there any update on this from your side? If not, and/or you feel this issue is not applicable anymore, feel free to close it.

[2022-02-25 19:45] andrewlee94 opened #729 "Remove need for "default" argument when declaring models with config arguments"
It would be good to remove the need for the `default` argument when creating instances of IDAES mdoels. Currently, this argument is used to separate the IDAES-specific arguments (that go to the config block) from the Pyomo-specific arguments (that are used during object construction).

@jsiirola suggested that we should be able to set up an API to retrieve the expected arguments from the Pyomo obj

[2022-02-25 21:11] andrewlee94 opened #730 "Standardize naming in Heat Exchanger models"
Naming of components in heat exchangers still appears to be inconsistent in places (e.g. naming of sides) - we should resolve any remaining issues.

[2022-02-25 21:46] eslickj commented on #730
The official side names for the 0D heat exchanger are hot_side and cold_side.  They have other names for backward compatibility.  Users can assign names, which are by default shell for the hot side and tube for the cold side.  We can clean that up and remove old names in IDAES 2.0 (side_1 and side_2 still work).  If there's other specific stuff, we can note it here, and I'll fix it.  I guess the 0

[2022-03-01 14:33] dangunter opened #733 "Rotate "gap" with unit model"
The current behavior with the flowsheet visualizer is that rotating the unit model does not rotate the direction of the "gap" enforced between the unit and the entering/leaving streams. This makes streams loop in and out of the model stupidly for all orientations except the default one.

Default:

![image](https://user-images.githubusercontent.com/420923/156187856-71b5a2be-c726-4fcc-b21e-fb1da0cc7

[2022-03-01 14:41] dangunter commented on #733
What it should look like

Rotate 90deg

![image](https://user-images.githubusercontent.com/420923/156189204-36ca8ca9-ce4b-4f1c-b25a-2d30e4b46dbf.png)

Rotate 180deg

![image](https://user-images.githubusercontent.com/420923/156189431-26a84bd2-0d38-423d-a806-2d8e03fc68ed.png)

[2022-03-01 20:33] andrewlee94 opened #735 "IDAES v2 initialization improvements"
# Builds off #724 and costing improvements

During discussion of the new costing implementation and its effects on initialization, it was suggested that we could generalize costing across all IDAES components and provide far greater flexibility to developers and users (including the ability to inject custom sequences into initialization).

Based on the discussion and some subsequent thought, my id

[2022-03-02 19:58] dangunter opened #737 "Flowsheet connections are strange on second viewing"
If you try doing the same `m.fs.visualize()` call in e.g. the HDA flowsheet with distillation, both before and after the `.solve()` step, the second visualization has very different looking links -- orthogonality is wrong, etc. Something perhaps with saving, or just with the step where changes are merged.

[2022-03-03 02:00] lbianchi-lbl commented on #677
This has been implemented in #726.

[2022-03-03 02:00] #677 closed

[2022-03-04 14:01] andrewlee94 opened #740 "Failing tests with conda install of IDAES"
A Watertap user just came to me with an issue about failing tests with a new install of IDAES when using a conda install.

![error_image](https://user-images.githubusercontent.com/16341343/156776434-d96d4ebf-f040-4ec2-b999-7e3c5568669c.png)

If I were to take a guess, it is because `omlt` does not have a conda package available, and thus does not get included in the conda install of IDAES. However

[2022-03-04 15:06] adowling2 commented on #717
@dallan-keylogic @Robbybp Do you have an enhancement for degeneracy hunter for an alternate SVD analysis? If so, can you share with @shermanjasonaf?

[2022-03-04 15:11] adowling2 commented on #717
Notes from 3/4/2022:
- Output above is for after Ipopt terminates.

Next steps:
- [ ] Set Ipopt iteraton to zero, post Ipopt output here
- [ ] Post degeneracy hunter output for checking residuals with zero Ipopt iterations
- [ ] If there are any infeasible constraints at iteration 0, brainstorm how to improve initialization

[2022-03-04 17:28] lbianchi-lbl commented on #740
Thanks @andrewlee94. I've just checked and I can confirm that:

- `omlt` does not have a Conda package (at least not that I can find), and therefore is not among the dependencies for the `idaes-pse` Conda package
- Unlike `tensorflow`, `omlt` is not specified as an `extras_require` `optional` dependency in `setup.py`, and the "import or skip" logic is not applied to it

Assuming that we want to mi

[2022-03-07 16:08] #537 closed

[2022-03-07 16:08] #740 closed

[2022-03-10 02:23] shermanjasonaf commented on #717
- [x] IPOPT output for PyROS subproblem as is; see:
    - shermanjasonaf/pyomo/pyomo/contrib/pyros at commit [0ad52cf3b](https://github.com/shermanjasonaf/pyomo/commit/0ad52cf3b509fe2a58d9bf415b498663dff46618) and
    - shermanjasonaf/idaes-pse/idaes/apps/multiperiod/examples/multiperiod_rankine_uncertainty.py at commit [90d0822a](https://github.com/shermanjasonaf/idaes-pse/tree/90d0822a293f026601

[2022-03-10 14:38] dallan-keylogic commented on #717
Also, while that might make the error message go away, it should be a warning sign that sensitivity analysis based on partial derivatives may not give you the whole story here. Some Monte Carlo simulations may be in order.

[2022-03-10 19:55] #151 closed

[2022-03-10 21:46] lbianchi-lbl opened #745 "Notify users when attempting to install IDAES extensions on incompatible hardware"
## Symptoms

- We've been trying to set up a developer environment on a macOS laptop with an Apple Silicon (ARM-based) processor
- Since macOS is not supported by IDAES, we're using an Ubuntu 20.04 virtual machine through Parallels
- The IDAES installation procedure seems to proceed without errors, including `idaes get-extensions`
- However, as soon as any of the IDAES executables are accessed, an

[2022-03-10 22:42] eslickj commented on #745
@jsiirola, I'm using Pyomo's FileDownloader class.  I did a quick look at the code and I don't immediately see a way to get the architecture.  Is there a way?  If not should we add that in Pyomo.  Once we have that, I can check it, and add that info to the package names.

[2022-03-10 22:49] lbianchi-lbl commented on #745
@eslickj if it can be useful, I've just found out that there's a `platform.machine()` function in Python from the `platform` built-in module that outputs `x86_64` on my laptop.

[2022-03-11 17:53] andrewlee94 opened #746 "Automated initialization method for Costing Blocks"
As part of the improvements to the IDAES Costing Framework, we realized that for most costing Blocks it should be possible to automate initialization by doing a block-triangularization of the Block in order to determine the initialization order and to then sequentially solve the constraints in order.

[2022-03-11 18:01] andrewlee94 opened #747 "Documentation of new IDAES Costing Tools"
The new costing framework and API needs to be documented,

[2022-03-11 18:03] andrewlee94 opened #748 "Clean up deprecation warnings and backwards compatibility code"
As the final step in the release of IDAES v2.0, we should clean up all remaining deprecation warnings and backwards compatibility code, and officially end support for the IDAES v1 series.

Tasks to Do:

- [x] Clean up deprecations in `examples-pse`.

    - https://github.com/IDAES/examples-pse/pull/129

- [x] Remove redirects for moved files. PR #937
- [x] Remove old costing modules and all depend

[2022-03-13 17:43] adowling2 commented on #717
@shermanjasonaf At the initial point (`iter=0`), the most violated constraint is the energy balance on the battery. It looks like setting `blocks[4].process.battery.next_soc` to `0` would cause this constraint to be feasible. Some thoughts:
* One possibility is that the problem is correctly initialized, but the IPOPT bound push is adjusting the value of the variable `blocks[4].process.battery.next

[2022-03-13 17:45] adowling2 commented on #717
@dallan-keylogic Thank you for pointing this out. We should also loop in @jghouse88 who has extensive experience with this toy problem (simple Rankine cycle) we are using. My suggestion is to look at which constraint(s) are infeasible when IPOPT terminates and then go from there.

[2022-03-14 14:56] dallan-keylogic commented on #717
@adowling2 From the solver trace @shermanjasonaf posted, it looks like all constraints are solved to within `1e-6`, so I don't think primal infeasibility is the driver here. An added complication is that Pyomo doesn't load solver results for a restoration failure, but you can work around that by setting `iter`  to one iteration before the restoration failure happens.

A quick and dirty method to m

[2022-03-16 13:07] eslickj opened #752 "Test failure on CentOS 8 solid/gas contactor"
I'm seeing this test fail on CentOS 8:

[code]

[2022-03-16 16:45] bpaul4 commented on #752
@chineduobiora @eslickj I've almost finished implementing updated scaling and units to the BFB model, and am debugging a similar issue at the moment. Is this error for the file version currently in `main`?

[2022-03-16 16:47] eslickj commented on #752
@bpaul4, yes I think it is the current main.

[2022-03-16 17:52] #236 closed

[2022-03-16 18:03] dallan-keylogic opened #754 "Liquid stream trapped in FTPx"
I am using FTPx state variables in a generic property package for a `Flash` unit condensing water out of a hydrogen stream. I want to recycle this water stream. Since I know that flash calculations for FTPx variables are ill-posed for single-species phase equilibrium, I attempt to translate the stream into an appropriate property package (IAPWS95) using a `Translator` block. I create three constra

[2022-03-17 17:12] dallan-keylogic opened #757 "Improvements for IDAES interface to PETSc"
After some use of the PETSc integrator to initialize a Pyomo model discretized in time, I've run into a few situations where additional tools within IDAES could be helpful.

- [X]  Because PETSc doesn't return values of derivatives, `DerivativeVar`s are not initialized. It would be handy to have a function to automatically initialize them using, e.g., a backwards difference. --- Added in #774.

-

[2022-03-17 18:53] lbianchi-lbl commented on #623
I'm working on changing how the GHA triggers for PRs are implemented, and will implement (and test) this as part of that.

[2022-03-17 18:54] ksbeattie commented on #120
no longer a problem (procrastination wins again!)

[2022-03-17 18:54] #120 closed

[2022-03-17 18:55] elbashandy commented on #632
Fixed in https://github.com/IDAES/idaes-pse/pull/655

[2022-03-17 18:55] #632 closed

[2022-03-17 18:59] lbianchi-lbl commented on #84
This could be done as part of the IDAES v2 codebase refactoring/improvements.

[2022-03-17 19:01] andrewlee94 commented on #84
@lbianchi-lbl I agree - we should take this opportunity to fix the codebase to resolve this. However, we would need to discuss what is required (i.e. where we should use `self`, and where we shouldn't).

[2022-03-17 20:00] eslickj commented on #717
I didn't read through everything, so I may have missed this, but have you considered scaling?

[2022-03-17 20:35] eslickj commented on #84
@andrewlee94, I think the answer is that we should use self everywhere pylint complains (first argument to methods in a class where self is an object).

[2022-03-17 21:11] eslickj commented on #757
@Robbybp, I think this would be useful.  We have the thing to do the PETSc trajectory interpolation.  We mainly need to map the scalar variables from the problem PETSc solves back to time indexed ones with I guess would be in another copy of the model with finer discretization.

[2022-03-18 19:58] nareshsusarla opened #760 "Mismatch in set definition and initialization for Params in IAPWS"
Following mismatch in set definition and initialization for some Params in IAPWS property package was observed.
For example, a set was defined over 6 elements but initialized with only 5 values:
https://github.com/IDAES/idaes-pse/blob/42412ede8267550a1a8cc4160974eb8bbd0d87f1/idaes/generic_models/properties/iapws95.py#L147
[code]
`Pyomo.RangeSet(0, 5)` must have 6 elements including 0 and 5. So, ei

[2022-03-21 16:45] shermanjasonaf commented on #717
@eslickj Scaling of model components is currently not considered or applied by PyROS; I will look into scaling considerations.

[2022-03-21 16:52] adowling2 commented on #717
@shermanjasonaf Are you sure about that? My understanding -- @eslickj and @andrewlee94 correct me please -- is that IDAES implements scaling by passing custom scaling to Ipopt. My first recommendation would be to post the options being passed to Ipopt when it is called by PyROS.

[2022-03-21 18:18] #559 closed

[2022-03-22 05:58] shermanjasonaf commented on #717
@adowling2 I mean to say that PyROS itself does not scale model components for any sub-problems; as I understand it, options passed to IPOPT are applied to PyROS subproblems at solve time (only when the IPOPT solver's `solve` method is invoked). IPOPT options currently used for the multiperiod rankine model implementation are the defaults. If I instead obtain an IPOPT solver through the method `id

[2022-03-23 15:41] eslickj commented on #760
I realize I have an extra parameter, but out of curiosity, how does this cause a problem?

[2022-03-24 02:48] nareshsusarla commented on #760
In one of the implementations within dispatches, we have to clone the model by copying all the Params and Vars and while doing that we get an error as the parameter was defined but not initialized.

[2022-03-24 14:06] lbianchi-lbl opened #767 "Failures when running `idaes get-examples`"
(Originally reported by @Andresj89)

Running `idaes get-examples` results in an error:

[code]

- My guess is that this is due to switching to 2.0.0dev0 (starting with #759)
- I've tried to address this by updating the version and `idaes-compatibility.json` in `examples-pse` (https://github.com/IDAES/examples-pse/commit/79dfed7ade2a352bf9d847bbd155ed40bf6d4559), but it did not seem to have an effe

[2022-03-24 16:53] andrewlee94 opened #768 "Run `black` on all code"
As part of IDAES v2.0 we should add running `black` on the code as a requirement with an associated test.

We are starting to reformat the code on a folder-by-folder basis as we reorganize the repo.

[2022-03-24 16:55] andrewlee94 opened #769 "Add code owners to all files"
This is especially important for thinks in `apps` and `models_extra` in order to identify external  maintainers.

[2022-03-24 16:56] andrewlee94 opened #770 "Document processes associated with code in apps and models_extra"
We need to document the requirements for adding code to the `apps` and `models_extra` folders and the processes for what happens when/if these begin failing tests.

[2022-03-24 17:03] NdagiStanley commented on #768
Are you accepting contributions on this?
I'd happily contribute

[2022-03-24 18:39] #673 closed

[2022-03-24 19:28] andrewlee94 commented on #244
This issue should be rendered moot by #766 which replaces the previous MEA model with a new generic column model.

[2022-03-24 21:52] #244 closed

[2022-03-25 02:19] #760 closed

[2022-03-30 17:54] lbianchi-lbl opened #776 "CI check for Sphinx docs build is silently failing"
- The `Build Sphinx docs` job is defined [here](https://github.com/IDAES/idaes-pse/blob/15aefd2bea27737c9c7766f0fb639c388022e5f3/.github/workflows/core.yml#L85-L109) and essentially runs `cd docs; python build.py`
- The `build.py` wrapper script is launching several Sphinx commands, but it looks like these sub-commands are allowed to fail without resulting in a nonzero exit code of the wrapper scr

[2022-03-31 14:47] eslickj commented on #717
I'm super late, but IDAES scaling is slightly complicated.  The way it works (very roughly) is that you specify scaling on a subset of variables.  Usually like pressure, flow, sizes... maybe a few other things.  IDAES tends to generate warnings about missing scaling factors if they are used but not supplied.  From there you call ``calculate_scaling_factors(model)`` on the whole model.  This uses t

[2022-03-31 17:11] lbianchi-lbl opened #778 "Remove redundant DMF Table implementation"
remove old `tabular.py`, keep `tables.py`

[2022-03-31 18:03] elbashandy opened #779 "Scrolling through UI is hard as the paper padding is too big"
Change the paper padding in the UI

[2022-03-31 18:49] #367 closed

[2022-03-31 18:57] #61 closed

[2022-04-01 00:12] #776 closed

[2022-04-04 12:08] #733 closed

[2022-04-04 17:17] elbashandy opened #784 "Failing tests on Git"
The pytest failures report this issue:

=================================== FAILURES ===================================
___________________________ test_tag_display_convert ___________________________

model = <pyomo.core.base.PyomoModel.ConcreteModel object at 0x7f53231db740>

    @pytest.mark.unit
    def test_tag_display_convert(model):
        m = model
        tw = ModelTag(expr=m.w, format_

[2022-04-04 17:49] bpaul4 commented on #784
I see that these first appeared on #775 , but I believe these may be related to Git itself and not a recent commit. While pushing updates to an open PR, these errors appeared after re-running tests for new commits without updating from IDAES:main and any "breaking changes" in the code itself would not have been pulled to the PR.

[2022-04-04 20:23] andrewlee94 commented on #784
These are related to a new release of `pint` that occurred this morning. We are aware of the issue and are working on a fix.

[2022-04-04 22:24] #784 closed

[2022-04-05 21:19] blnicho commented on #757
@Robbybp is your tool available somewhere?

[2022-04-05 22:07] eslickj commented on #757
@blnicho, thanks that would probably be helpful.  I'm going to get to this in the next could days.

[2022-04-05 23:01] Robbybp commented on #757
The code I'm talking about ("tool" might be a little generous) is here:
https://github.com/IDAES/publications/tree/main/parker_dycops2022/parker_dycops2022/common/serialize
See approximately lines 300-330 of this file for an example of use:
https://github.com/IDAES/publications/blob/main/parker_dycops2022/parker_dycops2022/run_stability_analysis.py

[2022-04-05 23:05] Robbybp commented on #757
I guess I don't actually transfer the data back to a model with a more fine discretization grid, but from the data structure that holds the data on the finer grid, this should be fairly easy with `m.find_component(name)[t].set_value(val)`.

[2022-04-05 23:29] #467 closed

[2022-04-05 23:46] eslickj commented on #757
I think what I'm going to do is allow the user to specify a subset of times.  Integrate between those times.  That will allow the sort-of conditional changes at certain times if you have that.  Then I'll interpolate the full set of time points from the trajectory, fill in the model then calculate the time derivatives.

It shouldn't be too hard.  Currently I'm using the variable names and the .col

[2022-04-06 15:26] bpaul4 opened #789 "Add constraint scaling, InitializationError to FB0D model, tests and example flowsheet"
The initial FB0D model scales some constraints to ensure model robustness. In later updates to the MB and BFB models, implementation covered complete scaling of all model constraints, usage of the new InitializationError() exception and related changes to test files and example flowsheets. We should make similar changes to the FB0D model for consistency.

[2022-04-06 15:31] bpaul4 commented on #789
@andrewlee94 I believe it is best to wait until after existing gas_solid_contactor pull requests are merged and the files are moved per your reorganization to push further improvements. Please let me know your thoughts on this.

[2022-04-06 20:17] andrewlee94 commented on #770
This had been at least partially addressed with additions to the Wiki.

https://github.com/IDAES/idaes-pse/wiki/Repository-Organization
https://github.com/IDAES/idaes-pse/wiki/Maintenance-and-Testing-of-User-Supported-Code

[2022-04-07 14:38] Robbybp opened #793 "Error in docstring for `custom_term` in control_volume1d.py"
https://github.com/IDAES/idaes-pse/blob/9db9f35a5c4a573ea397ad0477cabc62a8b0aa58/idaes/core/base/control_volume1d.py#L1486

The docstring says that the custom term is a Pyomo Expression. However, it seems to be used as a function (probably that returns an expression...). I believe this is repeated for all instances of `custom_term` in this file.

[2022-04-07 16:06] dallan-keylogic opened #794 "First time point in dynamic models"
Right now, some IDAES models obtain an initial condition for a model with dynamics by adding logic constraining the first time point to be at steady state. See, for example, [the PID controller model](https://github.com/IDAES/idaes-pse/blob/main/idaes/models/control/controller.py):
[code]

However, [in the documentation for Pyomo DAE simulators](https://pyomo.readthedocs.io/en/stable/modeling_exte

[2022-04-07 18:22] ksbeattie commented on #789
This is waiting for PR #756

[2022-04-07 18:49] lbianchi-lbl commented on #453
I've just checked and I can confirm we got rid of this test because of its flakiness, so this issue can be closed.

[2022-04-07 18:49] #453 closed

[2022-04-07 18:51] ksbeattie commented on #605
this is related to #44

[2022-04-07 18:53] #471 closed

[2022-04-07 18:58] lbianchi-lbl commented on #648
Other issues that are connected with this:

- #752
- #224

[2022-04-07 19:13] eslickj commented on #794
@blnicho or @jsiirola I'm going to fix this, but want to make sure I understand the requirements.  I think the answer here is to move this optional constraint for the initial condition of integral error to be a non-time indexed constraint.  The initial condition for integral is either fixed or has a constraint, and it's all good.  What's the right way to handle initial condition calculation?  Do w

[2022-04-07 19:36] eslickj commented on #725
Ok, the issue seems to be that a BooleanVar is not a Var.  I think I can add tests for this and fix it.

[2022-04-08 16:27] #568 closed

[2022-04-09 01:46] eslickj commented on #745
@lbianchi-lbl, I discovered it's really easy to use docker to build the aarach64 binaries.  I guess it would double the builds and tests but it's pretty trivial to do aside from the time.  If you think it's worth doing I can do it.

[2022-04-12 14:51] #177 closed

[2022-04-12 14:51] #224 closed

[2022-04-12 14:53] eslickj commented on #794
I fixed the PID controller.  I couldn't find other instances in the IDAES-PSE repo.  I think we can close this?

[2022-04-14 18:46] #305 closed

[2022-04-14 18:47] #306 closed

[2022-04-14 18:47] #540 closed

[2022-04-14 18:48] #539 closed

[2022-04-14 18:57] ksbeattie commented on #389
Related to https://github.com/IDAES/examples-pse/pull/75

[2022-04-14 19:15] Robbybp commented on #637
This issue was related to the design of gas pipeline unit models. I needed to add my own momentum balance (as far as I could tell, adding a custom momentum balance with time and space derivatives was/is not supported by 1d control volumes), so I needed a `pressure_dx` variable, but did not want a `deltaP` variable or `pressure_balance` equation. I ended up implementing a small `add_pressure_dx` me

[2022-04-14 22:54] xiangao1 opened #807 "Enhancements on double loop"
This is list of enhancements we can have for the double loop after #787 is merged.

- [ ] Abstraction on the bidding and tracking model objects: https://github.com/IDAES/idaes-pse/pull/787#discussion_r848854374
- [ ] Use IDAES logger to replace print()
- [ ] Improve model clone: https://github.com/IDAES/idaes-pse/pull/787#discussion_r848868823
- [ ] Discuss how abstract code in the tests and examp

[2022-04-14 22:55] xiangao1 commented on #807
@adowling2

[2022-04-14 23:29] adowling2 commented on #807
👍

[2022-04-15 00:45] #560 closed

[2022-04-16 02:18] #432 closed

[2022-04-18 18:13] bpaul4 opened #811 "BFB Oxygen-Iron OC Flowsheet Fails To Solve"
The flowsheet demonstrating the BFB unit model with the oxygen-iron reduction OC property packages fails to solve successfully. The issue could be due to unapplied or missing scaling, which would require several small straightforward updates. I am using the list below to keep track of items/commits, and will push them to a PR branch once ready:

(Update: all tasks "complete" in forked branch, curr

[2022-04-20 15:24] blnicho commented on #794
@eslickj for the Pyomo.DAE Simulator we only require initial conditions for the differential states, the DAE integrator in CasADi will solve for consistent initial conditions for the algebraic variables. But I have seen a case where it was unable to find consistent initial conditions and it was necessary to initialize the initial conditions for the algebraic variables away from zero in order to ge

[2022-04-21 15:54] andrewlee94 opened #816 "Move UI code to idaes.core"
As part of the reorganization of the IDAES repository in preparation for the v2.0 release, the UI code needs to be moved to `idaes.core.ui`. As part of this , deprecation paths should be left to redirect users to the new location.

This needs to be ready for the May release of IDAES so that users have time to adjust before the deprecation warnings are removed in the November v2.0 release.

[2022-04-21 15:57] andrewlee94 opened #817 "Move DMF code to idaes.core"
As part of the reorganization of the IDAES repository in preparation for the v2.0 release, the DMF code needs to be moved to `idaes.core.dmf`. As part of this , deprecation paths should be left to redirect users to the new location.

This needs to be ready for the May release of IDAES so that users have time to adjust before the deprecation warnings are removed in the November v2.0 release.

As pa

[2022-04-21 17:44] #657 closed

[2022-04-21 18:11] andrewlee94 commented on #811
This sounds lie there is a gap in our testing if this not resulting in test failures.

[2022-04-21 18:43] FiannaOBrien opened #818 "Update Getting Started Page"
- [X] Split OSs into individual pages
- [ ] Test install on each OS
- [X] Remove links & text related to to empty "optional dependencies" page
- [ ] Test user experience workflow
- [ ] Split specialty installs into How-To Guide pages

[2022-04-21 18:48] FiannaOBrien commented on #818
I need some information on the binaries page. I can't find a clear reference to this page within the getting started docs and trying to hide the optional dependencies content has removed the binaries page from the TOC tree, causing a meltdown. The binaries page is content-rich, so I don't want to lose it, I just need to know more about what it is, why it is, and where it should be housed to be mos

[2022-04-21 18:49] andrewlee94 commented on #745
Completed in #788

[2022-04-21 18:49] #745 closed

[2022-04-21 18:53] andrewlee94 commented on #605
This is basically done.

[2022-04-21 18:53] #605 closed

[2022-04-21 19:58] andrewlee94 opened #819 "IDAES Documentation Master Issue"
We currently have a very large number of open issues related to documentation and examples cluttering up our release boards. To help organize things better, I am opening this as a master issue from tracking documentation related issues so that individual issues can be left of release boards unless they are being actively worked on.

- [ ] #380

[2022-04-21 20:01] #643 closed

[2022-04-21 20:11] andrewlee94 commented on #770
For now, we will considered this "good enough".

[2022-04-21 20:11] #770 closed

[2022-04-22 14:11] #757 closed

[2022-04-22 16:47] #793 closed

[2022-04-25 18:41] eslickj commented on #794
@blnicho, thanks.  We can definitely break the initial condition calculation step out of the PETSc utility and use it as a more general method if it makes sense.  At least it's good for consistency, so regardless of integrator choice the basic procedure can be the same for IDAES.  If I can be of assistance, I'm happy to help.

[2022-04-25 19:57] dallan-keylogic commented on #794
I'd also like to put in a request for a function to get the block which is solved for the initial condition problem. Doing an SVD on the Jacobian of that block can be very useful for figuring out when you've formulated your initial condition problem incorrectly.

[2022-04-26 17:39] radhakrishnatg opened #826 "Inlet states are not unfixed after initialization of indexed blocks"
@eslickj  The changes in this commit https://github.com/IDAES/idaes-pse/commit/7c6bb17ddd26b0abf4e8e88b51b8684db2b2a8a5 are causing the following issue. For indexed blocks, the `initialize` method does not unfix the inlet state after initialization. I have attached a script that demonstrates this issue. The function `build_fs1` builds a flowsheet containing indexed turbines (turbine[1] and turbine

[2022-04-26 20:38] #826 closed

[2022-04-27 16:55] eslickj opened #830 "Update Code Orginization In Developer Docs"
I went to finish off issue #577 to explain in the docs where to put most flowsheets.  I think I find the relevant docs, but they seem to be way out of data, and should again be updated for IDAES 2.0.  https://github.com/IDAES/idaes-pse/blob/main/docs/reference_guides/developer/howto.rst

We can add what needs done below:

- [ ] Add guidance for example code and other model where the user will like

[2022-04-27 17:55] eslickj commented on #577
Moved to #830

[2022-04-27 17:55] #577 closed, assigned to eslickj, andrewlee94, AlexNoring, MAZamarripa, jghouse88, nareshsusarla, dallan-keylogic

[2022-04-28 18:38] ksbeattie commented on #705
Once this is sorted out, we need to update this page in our docs: https://idaes-pse.readthedocs.io/en/stable/tutorials/getting_started/opt_dependencies.html#optional-dependencies

[2022-04-28 18:43] ksbeattie commented on #717
@adowling2, is this still possible for the May release?

[2022-04-28 18:46] #721 closed

[2022-04-28 19:16] adowling2 commented on #717
@shermanjasonaf is leading this. My guess is no.

[2022-04-28 19:29] bpaul4 commented on #811
@andrewlee94 It seems we only test the BFB unit model for the methane iron reduction properties, not the oxygen iron reduction properties. If you'd like, I can rename `test_BFB.py` to `test_BFB_methane_oc.py` and create a new file `test_BFB_oxygen_oc.py`.

[2022-04-28 19:31] andrewlee94 commented on #811
@bpaul4 That is probably a good idea - we should have a test that runs the BFB with both property packages so that we can catch issues like this.

[2022-04-29 09:36] dangunter opened #831 "DMF test touches global config.yaml"

[2022-04-30 14:29] eslickj commented on #705
I added seaborn to the table.  I used it in one place and you currently need to manually install if you want it.  Someone also commented that they may use it in the future.  It's definitely very optional.

[2022-04-30 14:46] eslickj opened #835 "Testing in a subprocess?"
I have a problem that comes up every once-and-a-while. This time with PR #834.  I added the ability to set the location of the IDAES data directory by environment variable.  The problem is that to test this, I would need to import idaes with the environment variable not set, with it set to a valid value, and with it set to an invalid value.  Since the data directory is set when you import IDAES, o

[2022-05-02 16:26] #831 closed

[2022-05-03 13:21] dangunter opened #838 "Flowsheet visualization refresh error"
I get fatal errors on the console for save/refresh (using elbashandy fork, branch 'color_variable_types', which I was testing at the time).

Steps to reproduce:

1. open `Examples/Flowsheets/HDA_flowsheet_with_distillation_solution.ipynb' example notebook
2. After cell 31, which prints degrees of freedom, right before the "Initialization section", add a visualize cell: `m.fs.visualize(name)`.
3.

[2022-05-03 15:23] eslickj commented on #835
Turns out I didn't need this to test what I needed to test.

[2022-05-03 15:23] #835 closed

[2022-05-03 15:32] eslickj commented on #818
I have the install testing sort of covered with docker here https://github.com/IDAES/idaes-ext/actions.  We can setup GitHub actions to exactly reproduce the docs and use a similar setup maybe.  Unfortunately I now have ARM64 linux and macOS builds, to testing those (I guess) requires a Mac VM and a local docker install, but mostly I think we could do the same thing.  As far as I know they don't h

[2022-05-03 22:20] dangunter opened #840 "Add test for units in JSON provided to Flowsheet Visualizer"
Look in the JSON that goes to FV for a given model, e.g. HDA, whether units are there and correct.

[2022-05-04 13:29] #44 closed

[2022-05-04 14:28] eslickj opened #841 "Pysmo fails on ARM64"
On both macOS and all linux distress I tried with ARM64 processors Pysmo tests fails.  I can't really see a clear reason by the test output is below.

[code]

[2022-05-04 14:53] eslickj opened #842 "Uncertainty Propagation Failing on macOS ARM64"
The uncertainty propagation app doesn't seem to be working on macOS on ARM64 for me.  I think there is a good chance that my build of k_aug and/or dotsens, but they do run.  I'm not really sure how to debug this though.

After a lot of work, I think I've figured out the basic issue, so I'm deleting old comments to avoid confusion.  The problems the solvers are getting seem the same, and the solver

[2022-05-04 14:57] eslickj opened #843 "Sparse SVD test fais on ARM64"
The sparse svd test below fails on all ARM64 platforms I tried macOS and Linux.  Not sure why.

[code]

[2022-05-04 15:02] dallan-keylogic commented on #843
Here, at least, the failure is a result of a tiny difference in singular vectors.  The solution here is to add an absolute tolerance on the order of `1e-10` to the `approx` statements.

[2022-05-04 15:26] adowling2 commented on #842
I am not sure either. I do not have access to ARM64 hardware, so this is difficult for me to debug.

[2022-05-04 15:29] adowling2 commented on #842
Can you do a side-by-side comparison of the test output (log) for Linux x64 and ARM64?

[2022-05-04 15:50] eslickj commented on #842
@adowling2 thanks.  Yeah let me see if I can isolate the first test and get max output on the two systems for comparison.

[2022-05-04 15:52] eslickj commented on #843
@dallan-keylogic thanks.  I'll do that in an upcoming PR for new binaries.

[2022-05-04 17:14] eslickj commented on #842
As shown below it is in fact K_aug failing, but the problem may not be k_aug.  Somehow the number of variables and constraints are different between the two.

This is the working one:

[code]

This is the non-working one
[code]

[2022-05-04 17:42] eslickj commented on #842
The one from windows, the second ipopt solve says all variables are fixed.  On macOS there are 4 variables and 4 constraints in the second solve.  Now it looks like there is some problem setting up the problem and not a problem with the binaries.  I'm not sure how that could happen.

Here's environment info for macOS:
(idaes) john@Johns-Mac-mini uncertainty_propagation % idaes environment-info

ID

[2022-05-05 14:25] eslickj opened #844 "Found More Delicate Tests"
I have some more delicate tests that fail on ARM64 macOS.  I'm not sure who's responsible for these so we can assign appropriately.  I guess the NGFC may be fixed in PR #836.  I didn't put the details in, but I think with these a solve is just failing somewhere.

[code]

[2022-05-05 15:00] bpaul4 commented on #844
@eslickj could you test pulling from my NGFC branch and see if that resolves the issue with `test_NGFC.py`? In addition to new scaling, the initialization/solve scheme is more robust for re-solving unit blocks.

Regarding the other four tests, I noticed they all use the `idaes.models.properties.activity_coeff_models.BTX_activity_coeff_VLE` property package and we did recently update some of our VL

[2022-05-05 16:27] eslickj commented on #842
So the problem seems the same.  Ipopt seems to work fine on both platforms.  Somehow, though, Ipopt and k_aug while they seem to work, see this problem differently.

On Windows, from Ipopt I get:

[code]

On macOS I get:

[code]

So while Ipopt reports different, it seems to work okay for both.

[2022-05-05 16:30] eslickj commented on #842
The relevant thing seems to be k_aug.  For simplicity I'll just show the relevant lines:

On Windows:

[code]

On macOS:

[code]

So on macOS, this results in k_aug failing.  Something is causing the solvers to behave differently between the two systems.

[2022-05-05 17:04] adowling2 commented on #842
@eslickj Just to be super clear, when you said "macOS" in your previous post, did you mean "macOS ARM64"? I have "macOS x86-64" systems ;)

[2022-05-05 17:47] eslickj commented on #842
@adowling2, yes ARM64.

[2022-05-05 18:19] aostace01 opened #845 "Parameterize Henry's constant correlation"
Add parameters in Henry's constant N2O Analogy (Jiru et.al, 2012), in MEA_solvent.py.

The parameters are needed for the end-to-end UQ example, as they are estimated together with the concertation-based equilibrium constant parameters, using experimental VLE data from the literature.

[2022-05-05 20:40] eslickj opened #849 "Conda Issue on Ubuntu 22.04"
I think this issue will probably be resolved in Anaconda, but I have an issue where the version of libstdc++ from Conda conflicts with the one from Ubuntu 22.04.  When running solvers compiled on Ubuntu 22.04 I get the error ```OSError: /root/miniconda/envs/idaes/bin/../lib/libstdc++.so.6: version `GLIBCXX_3.4.29' not f...```.  The issue is easily resolved by just deleting the libstdc++.so.6 file

[2022-05-05 20:51] eslickj opened #850 "Overwrite *.dylib on macOS"
If you try to run get-extensions on macOS, and you've run it before, you'll get a permission error.  Seems macOS doesn't really like you to delete or overwrite dylib files.  The workaround for now is just to delete the files in the $HOME/.idaes/bin directory before getting extensions.

[2022-05-06 14:53] dallan-keylogic opened #852 "Pynumero spawns multiple instances of script file from which it's called"
Want to leave a record of [this Pyomo issue](https://github.com/Pyomo/pyomo/issues/2380) in the IDAES repo, in case any IDAES user encounters it.

[2022-05-06 15:19] #811 closed

[2022-05-07 21:24] eslickj commented on #842
Problem solved!  The coin build of Metis was crashing for some reason (on macOS ARM64).  I added more solver tests to catch it, and I'm switching the mumps and Metis libraries to the ones I build for PETSc.  Seems to work.

[2022-05-07 21:24] #842 closed

[2022-05-10 15:48] OOAmusat commented on #841
Yeah, I suspected that was the problem given the small size of the training data. I will probably have to increase the training set size or define a different test problem entirely.

[2022-05-12 18:28] lbianchi-lbl commented on #852
For cross-project reference, this is related to watertap-org/watertap#387, with a simple workaround described [here](https://watertap.readthedocs.io/en/latest/how_to_guides/how_to_run_models_in_a_py_script.html).

[2022-05-12 19:00] andrewlee94 opened #859 "Investigate behavior of IAPWS external functions at low enthalpies"
As part of #848, it was discovered that the behavior of the IAPWS external function calls showed different behavior at low enthalpies on Linux and Windows.

The state conditions were: F: 100, P: 101325, h: 4000.

Under these conditions, the fluid is pure liquid, hence the vapor phase enthalpy is undefined. When this is retrieved from the external function call, Windows and Linux were providing dif

[2022-05-12 19:42] eslickj commented on #859
In the external function, I know if a phase exists or not.  In practice these things where a phase doesn't exist get multiplied by 0 in calculating the mixed phase properties.  still it would be good to return a reasonable number.  Ho do you feel about returning 1000 where a phase doesn't exist and a property is undefined?  It would be nice to return NaN or something, but that would cause trouble

[2022-05-12 19:49] andrewlee94 commented on #859
@eslickj I was thinking about what the return myself, and my first thought was `NaN` as well (followed by recognizing the same issue you did). I think we want a value which is numerically safe but also clearly a placeholder; give than the value gets multiplied by zero in the actual model I think we should be able to get away with almost any value.

Some ideas I had:

* 1000, as good as anything
*

[2022-05-12 19:56] eslickj commented on #859
Oh yeah and a lot of times -1000 is a totally valid enthalpy.  Negative should be fine for a lot of things.  Temperature and pressure shouldn't be an issue (vapor and liquid are the same).  Probably is fine.

[2022-05-13 13:39] bpaul4 opened #862 "Surrogate Plotter Tests and Documentation"
The surrogate plotter methods work well in external scripts and in our example notebooks, and we should add standardized tests and documentation to supplement the main module.

- [x] Visualization methods tests
- [x] Visualization methods documentation
- [ ] Integration with Surrogates API documentation (future plans to update?)

[2022-05-13 14:08] #817 closed

[2022-05-13 15:07] OOAmusat opened #863 "ALAMOPy: Error with temporary file manager"
I came across an error when trying to use the new ALAMOPy. The temporariy file manager is throwing up an error when it tries to delete the temprary files.

**MWE:**

[code]

**Trace:**

[code]

[2022-05-16 19:52] bpaul4 commented on #863
@andrewlee94 After some testing regarding the working directory and trace file location, the `alamopy` method now locates and reads the trace file but does not detect any content:

[code]

IndexError: list index out of range

I believe the ALAMO wrapper is not writing to the trace file, which remains empty and does not have any content to read from. As I did not have this error on my machine, I'm

[2022-05-16 20:07] andrewlee94 commented on #863
@bpaul4 That sounds like a different problem than this issue is about. I would need more information on what you are doing and the errors you are seeing to replicate this.

[2022-05-16 20:08] bpaul4 commented on #863
To clarify, I was assisting @OOAmusat to troubleshoot on his machine. This is the error he is seeing now.

[2022-05-16 20:23] andrewlee94 commented on #863
@bpaul4 If that is the case then I definitely need a lot more information about what is going on and what you have tried in debugging this. I was about to say these are very different errors, but I just noticed something in the traceback @OOAmusat had in his post:

[code]

Are you still seeing that message when you run this? If that is still there, then it would seem to indicate that the issue is

[2022-05-16 20:38] OOAmusat commented on #863
To get to this point, Brandon suggested that I add an ``alamo_run.trc`` file to the working directory. Once we did that, the error changed from the ``FileNotFoundError`` to this ``IndexError``

[2022-05-16 20:46] andrewlee94 commented on #863
@OOAmusat @bpaul4 The reason you are not seeing any content in the trace file (or the absence of the trace file to begin with) is because ALAMO is terminating unexpectedly before writing to the trace file. The first thing you should look into is why you are seeing the error about a premature end to the input file, as this appears to be the main issue at hand (although we should also make sure the

[2022-05-16 21:11] OOAmusat commented on #863
@andrewlee94 Resolved the issue. Apparently ALAMO has issues with spaces (and symbols) in variable names. Once all the variables were renamed, the issue disppeared.

I'll close the issue. Thanks for your help!

[2022-05-17 12:44] andrewlee94 commented on #863
I do not think this is fully resolved yet - there area few things that we should look at improving:

1. Catching the presence of spaces in variable names and either raising and exception or replacing them with underscores.
2. Better handling of cases when ALAMOpy fails without creating expected files so that we do not see the original error message.

[2022-05-18 22:27] elbashandy opened #868 "Be able to test the UI from a docker container"
`localhost` is hardcoded in the UI code. To connect to the server from a docker container, it should be read as 0.0.0.0 from the docker container's perspective.

[2022-05-18 22:31] elbashandy opened #869 "Allow the users to specify potential names for feeds or products"
Allow names such as `bottoms` and `vapor_reboil` to be specified as products to show in the graph properly without being ignored

[2022-05-19 14:00] #863 closed

[2022-05-19 15:12] bpaul4 commented on #752
@eslickj any update on this? Please let me know if the issue has been resolved.

[2022-05-19 16:57] eslickj commented on #752
I think it has been resolved.  I didn't see it last time I ran these tests.

[2022-05-19 17:17] #752 closed

[2022-05-19 18:45] elbashandy commented on #816
Closed by #839

[2022-05-19 18:45] #816 closed

[2022-05-19 18:46] ksbeattie commented on #96
@jghouse88, seems like this should get a new assignee.  Can you pick one?

[2022-05-19 18:47] #725 closed

[2022-05-19 18:53] ksbeattie commented on #612
@avdudchenko, feel free to re-open this, if it's still a concern for you.

[2022-05-19 18:53] #612 closed

[2022-05-19 19:19] adowling2 commented on #717
Good plan.

[2022-05-20 20:53] andrewlee94 commented on #730
I had a look through all the HX models (both in `models` and `models_extra` today and here is a quick summary:

1. We have at least 4 different naming conventions across all the models.
2. All but 3 models declare a `hot_side` and `cold_side` (either directly or via aliases).
3. The 0D HX model and Condenser model have a list of aliases as long as my arm (which is too many).

My proposal is:

1. M

[2022-05-20 22:28] elbashandy opened #873 "log_level in .visualize() doesn't work"

[2022-05-24 20:28] elbashandy opened #877 "Handle empty stream table shown in the UI."
Provide a better way to communicate that the table is empty

<img width="1254" alt="Screen Shot 2022-05-24 at 1 26 49 PM" src="https://user-images.githubusercontent.com/1439632/170125971-72de3228-06a5-4553-986a-1dfd22f8ef9d.png">

[2022-05-24 20:31] elbashandy opened #878 "Order of flash unit outlets are reveresed in the UI"
Conventionally, the vapor outlet should be on top while the liquid should be the bottom one.

<img width="1254" alt="Screen Shot 2022-05-24 at 1 26 49 PM" src="https://user-images.githubusercontent.com/1439632/170125971-72de3228-06a5-4553-986a-1dfd22f8ef9d.png">

[2022-05-24 20:35] elbashandy opened #879 "Utilize `.report()` to fill stream table in the UI for unused ports"
In the flowsheet below, the state blocks are not generated for the 3 unused ports that belong to the flash unit model:

<img width="1254" alt="Screen Shot 2022-05-24 at 1 26 49 PM" src="https://user-images.githubusercontent.com/1439632/170125971-72de3228-06a5-4553-986a-1dfd22f8ef9d.png">

But the `m.fs.flash.report()` shows the necessary numbers that could be displayed in the stream table in the U

[2022-05-25 13:07] dangunter opened #880 "Change link to Degeneracy Hunter example"
Current link is into a GitHub PR. Should be:  https://idaes.github.io/examples-pse/latest/Examples/Tools/degeneracy_hunter_doc.html

[2022-05-27 15:00] bpaul4 commented on #862
@andrewlee94 @OOAmusat @carldlaird is there an existing plan to update our surrogates documentation? I'm happy to build out the new directory structure when I push the plotting tools documentation, and can help document other aspects of the Surrogates API as time allows.

[2022-05-27 15:33] dallan-keylogic opened #882 "Advanced user installation instructions use deprecated pip feature"
The instructions in the [advanced user installation](https://idaes-pse.readthedocs.io/en/stable/tutorials/advanced_install/index.html) tell the user to `pip install -U .` as part of updating IDAES. That results in a deprecation message:

[code]

Edit: And this issue came back to haunt me. Without the `-e` or `--use-feature=in-tree-build` flags, `pip install -U .` installs the IDAES repo in its cur

[2022-05-27 16:31] bpaul4 opened #883 "Local Documentation Build Warnings"
I encountered a long list of deprecation and other warnings when running `python build.py` from `idaes-pse/docs` (see the comment below). My new RST file and the doctree/index links parsed correctly, but the entire HTML tree is absent of any formatting per the image below:

![image](https://user-images.githubusercontent.com/86113916/170740746-1b4d1e06-b8e1-4163-b7b7-d50cc4d9bceb.png)

[2022-05-27 16:32] bpaul4 commented on #883
Most of the warnings are related to deprecated import paths:

"""
WARNING: DEPRECATED: The gas_solid_contactors.flowsheets.dyn_TGA_example
    module has been moved to
    idaes.models_extra.gas_solid_contactors.flowsheets.dyn_TGA_example
    (deprecated in 2.0.0.alpha0) (called from <frozen
    importlib._bootstrap>:219)
WARNING: DEPRECATED: The gas_solid_contactors.flowsheets.ss_BFB_OC_oxidation

[2022-06-01 09:21] vova292 opened #886 "Error when generating kriging model expression"
## Summary

The expression generation in krigging model gives error when using scalar variable

### Steps to reproduce the issue

[code]

### Error Message

[code]

### Information on your system

Pyomo version: 6.4.1
Python version: 3.9
Operating system: Debian
Solver (if applicable):

### Additional information

[2022-06-02 18:37] lbianchi-lbl commented on #882
The current [Update IDAES paragraph](https://idaes-pse.readthedocs.io/en/stable/tutorials/advanced_install/index.html#update-idaes) is inaccurate (or at least inconsistent with the rest of the document) since it results in a non-editable installation. We should update that part of the docs so that it reads e.g.

[code]

[2022-06-02 18:56] OOAmusat commented on #886
@vova292 This is not exactly an error: PySMO was originally designed to be compatible with indexed variables only.

However, we recently made changes to PySMO that makes it compatible with scalar variables, so updating to the latest version of IDAES should solve your problem. Your example runs just fine on my end with the latest IDAES.

Please let me know if it still doesn't work for you after the

[2022-06-03 17:17] dangunter opened #888 "Visualizer does not work outside of IDAES development environment"
When `visualize()` is called on a model in, e.g., a watertap development environment, the web server starts and web page displays, but the static JS files are not found and therefore the page is empty.

To reproduce:
- Start a conda development environment for watertap
- Load and build a model (see below)
- Invoke `visualize()` on the model

Example model build and visualize:
[code]

[2022-06-09 18:33] lbianchi-lbl commented on #888
My guess is that the JavaScript files are not being packaged when running `pip install` in non-editable mode; or the files are copied over, but in a location that's different to where the frontend code expects them to be.

We have checks that run the test suite after installing packages in non-editable mode, so the fact that this slipped through makes me think that we need more UI tests (probably

[2022-06-09 20:17] bpaul4 commented on #883
After pulling in the fix from 890, the build issues were still present for the default timeout of 180 seconds. Increasing the timeout to 300 seconds was sufficient on both the current main branch and this surrogates documentation branch, although the deprecation messages still appear. The RST file mentioned above now parses correctly.

[2022-06-10 19:46] dallan-keylogic opened #892 "Time-indexed parameters and discretizing the time domain"
While working on the SOEC project, we discovered a quirk of discretizing the time domain using `pyomo.environ.TransformationFactory("dae.finite_difference")`. When more finite elements are requested than can be supported by the flowsheet `time_set`,  Pyomo creates new time points between the existing ones. However, even if a time-indexed `Var` was fixed for all time points prior to the discretizat

[2022-06-16 18:52] #883 closed

[2022-06-16 18:54] lbianchi-lbl opened #893 "Update doctests to remove v2 deprecation messages"
As seen in e.g. #883.

[2022-06-17 16:51] bpaul4 commented on #893
@dangunter from a quick check of the build script and apidocs, I believe the source of the deprecated module calls lies somewhere around here: https://github.com/IDAES/idaes-pse/blob/7f045d9cce7efa9f73eb90ff5249d79496168732/docs/build.py#L44. It seems the generated apidocs actually use deprecated path names, could you provide the source of these names to help locate and update them? Thanks!

[2022-06-17 17:33] lbianchi-lbl commented on #893
@bpaul4 can you clarify what you mean by "the source of the deprecated module calls"? AFAIK `sphinx-apidoc` automatically imports all modules on the specified path to build the documentation, so I don't think there's e.g. a separate list of modules that uses outdated names that we should update.

My (largely unsupported by actual careful inspection) guess was that the cause of the deprecation mess

[2022-06-17 17:40] bpaul4 commented on #893
I couldn't locate any `.rst` files that directly call modules using deprecated paths, and the names of the apidocs ARE the deprecated paths. Since the source `.rst` files use the correct paths, I suspected that the `apidoc` build command was sourcing using an outdated list of file paths.

[2022-06-17 17:51] lbianchi-lbl commented on #893
@bpaul4 thanks for the clarification, I think I understand a bit better now.

- I've just run the command and I believe that the deprecation messages are being generated because `autodoc` (which is also a Sphinx extension but different from `apidoc`, despite the confusingly similar name) actually imports *all* the modules, including the still-existing deprecated ones
- Initially I thought that the

[2022-06-17 18:13] lbianchi-lbl commented on #893
I couldn't find anything in the [Sphinx autodoc documentation](https://www.sphinx-doc.org/en/master/usage/extensions/autodoc.html) to have modules excluded from the search. Maybe the easiest/reasonable-hack-iest solution in the meantime would be to search for all deprecated `.py` files and temporarily move them out of the `idaes` directory before the build.

[2022-06-17 19:44] bpaul4 commented on #893
I agree with your suggestion above. The only way I found in the Pyomo codebase to skip the warnings is either for all deprecation warnings or to tell Pyomo it's a testing environment and not to report them, both of which suppress output that we want to know about. Given that this will resolve itself after v2.0 is finalized, I support a temporary fix to move the deprecated folders out before the bu

[2022-06-19 09:27] shaowencheng opened #896 "CO2 Property Discrepancy"
### Discussed in https://github.com/IDAES/idaes-pse/discussions/660

<div type='discussions-op-text'>

<sup>Originally posted by **NCJazzMan65** January 13, 2022</sup>
I have a flowsheet which models a supercritical CO2 cycle.  I'm using the Span-Wagner CO2 property package.  The flowsheet converges to a solution but when I inspect the results they are not what I expected.  I spot checked the stat

[2022-06-23 18:44] eslickj commented on #896
Yes, I think you'll find the problem is just that the reference states are different.  You can calculate the Enthalpy for two states and compare the difference.  The reference state should be in the documentation, but the IDAES model uses the reference state from the Span-Wagner paper.  The full reference is in the docs.

[2022-06-27 14:05] bpaul4 opened #897 "PySMO Surrogate Tests Failing on Linux Due To Latest Numpy Release"
I tracked down the source of a few reoccurring test failures (see the latest nightly run [here](https://github.com/IDAES/idaes-pse/actions/runs/2566917920)) and `numpy` updating to 1.23.0 is likely the main cause. As @OOAmusat is the main PySMO developer, I believe it's best if you check and address the `AssertionError` issues. The result changes seem minor to me.

[2022-06-28 16:15] MAZamarripa opened #898 "add utility tool to deactivate/activate scaling suffixes in the models"
Issue is caused due to suffixes in variables (when running with Baron and/or conopt solvers)
o	Baron cannot recognize variable suffixes.
o	Source: IDAES scaling tools.
o	Solution: John E. will write a utility method to deactivate/activate scaling suffixes.  Equations are still scaled.

[2022-06-30 00:12] lbianchi-lbl commented on #897
@bpaul4, thanks a lot for spotting this and creating this issue. To try to make it more visible for developers while a fix is being worked on, I've pinned it so that it shows up at the top of the issues list.

[2022-06-30 23:25] OOAmusat commented on #897
@ksbeattie @bpaul4 @lbianchi-lbl @dangunter

i have not been able to reproduce this issue with a fresh install of IDAES on my local Ubuntu 18.04 machine in both Python 3.8 and 3.9. The tests run just fine for me.

 Dan and Ludovico suggested I do a pip freeze of my local working environment and compare with the CI; the resuts are attached here:
[frozen.txt](https://github.com/IDAES/idaes-pse/files

[2022-06-30 23:39] lbianchi-lbl commented on #897
@OOAmusat Thanks for running the checks. I agree on most of those not looking very suspicious, but (a very uneducated guess) wouldn't `cffi` potentially be able to affect the interaction between OS numeric libraries and numpy/Python/Pyomo through the C Foreign Function Interface?

[2022-07-01 00:09] OOAmusat commented on #897
@lbianchi-lbl  The thing is that my local installation has the newer version of cffi (1.15.1) vs the 1.15.0 used by the CI, so if anything I owuld expect my local version to be the failing one.

Anyway, I downgraded to the 1.15.0 used by the CI and still have no test failures, so it's not that.

`(test_fixes_p39) ooamusat@ooamusat-virtual-machine:~/Desktop/fix_test_errors/idaes-pse/idaes/core/surr

[2022-07-01 13:50] bpaul4 commented on #897
I compared the Ubuntu Python 3.8 Nightly tests just [before](https://github.com/IDAES/idaes-pse/actions/runs/2539989339) and [after](https://github.com/IDAES/idaes-pse/actions/runs/2546859620) the errors appeared, checking the pip list outputs, and found these differences:

grpcio changed from 1.46.3 to 1.47.0
ipywidgets changed from 7.7.0 to 7.7.1
jupyter-console changed from 6.4.3 to 6.4.4
jupyt

[2022-07-01 19:08] OOAmusat commented on #897
Yeah, I still can't reproduce it. Also, some of the tests failing make no sense. The error on the first test is:

[code]

indicating that the values are different for a tolerance of 1e-9. However, the test failing has the tolerance set explicitly to 1e-6:
[code]

[2022-07-05 13:58] dangunter opened #904 "Update IDAES visualizer docs"
Update the IDAES visualizer documentation

Related to [Create IDAES visualizer tutorial](https://github.com/IDAES/examples-pse/issues/120) issue in examples-pse

[2022-07-05 18:15] #897 closed

[2022-07-07 18:00] bpaul4 commented on #747
I've documented some of the costing features as part of https://github.com/IDAES/examples-pse/pull/124, and would be glad to author a first draft of the Generic Costing Framework documentation.

[2022-07-09 22:47] bspivey opened #906 "Request for documentation/examples for new ALAMOpy interface."
I followed the AlamoPy example at the following link, and I received the error that alamopy has no attribute alamo.

https://idaes-pse.readthedocs.io/en/stable/explanations/modeling_extensions/surrogate/alamopy/index.html

When I investigated the submodules in alamopy, alamo does not appear either:
Found submodule almain (is a package: False)
Found submodule almconfidence (is a package: False)
Fou

[2022-07-11 03:20] dangunter opened #907 "Hiding stream table columns breaks brushing"
If you hide stream table columns the "brushing" stops working with some of the streams.

[2022-07-11 12:29] andrewlee94 commented on #896
As @eslickj said, the  issue is most likely the reference states used. You should never directly compare results between two different sets of property calculations (even different implementations of the same model) as most thermophysical properties are dependent on the reference state used.

In order to do a comparison, you either need to compare properties with concrete physical values (e.g. tem

[2022-07-11 14:49] andrewlee94 commented on #906
@bspivey Unfortunately we are still working on examples for the new ALAMOpy interface, and I do not believe we have any ready to be shared. In the interim, we have some test examples you can look at which do include demonstrate the full workflow but do not have much explanation of the process: https://github.com/IDAES/idaes-pse/blob/main/idaes/core/surrogate/tests/test_alamopy.py

[2022-07-13 17:00] andrewlee94 commented on #892
My first response is that that is an expected behaviour in Pyomo and that users need to be aware of this. Simply put, Pyomo has no way of knowing that you want variables to be fixed when it creates them, so they are all unfixed by default. Users also need to be aware of how Pyomo fills in points in this case, as its approach is almost definitely what they want; I think Pyomo finds the largest inte

[2022-07-13 20:33] dallan-keylogic opened #909 "Search broken on ReadTheDocs"
When I try to search the IDAES documentation, no results are returned without even a message telling me that no results were found. Both Chrome and Edge had the same issue. In the browser's DevTool console, the following errors are returned:

[code]

[2022-07-14 00:29] #838 closed

[2022-07-14 01:25] adowling2 commented on #909
OS and browser versions?

[2022-07-14 13:22] dallan-keylogic commented on #909
Windows 11, Microsoft Edge Version 103.0.1264.49 (Official build) (64-bit).
Google Chrome Version 103.0.5060.114 (Official Build) (64-bit)

[2022-07-14 17:56] ksbeattie commented on #909
does this happen when the docs are built locally?

[2022-07-14 18:34] ksbeattie commented on #906
This is related to: https://github.com/IDAES/examples-pse/pull/113

[2022-07-14 19:04] ksbeattie commented on #517
@adowling2 & @jialuw96, I'm pulling this off the release boards and adding the backlog label, in hopes that someone may eventually get to this.

[2022-07-14 19:04] eslickj commented on #509
This https://github.com/IDAES/idaes-pse/pull/822 may help with part of this issue.

[2022-07-14 19:13] ksbeattie commented on #909
Answering my own question: yes it does.  On my macos laptop, firefox.

[2022-07-14 19:30] adowling2 commented on #517
Sounds good. Looks like we'll need this for a milestone next project year so it will get done.

[2022-07-14 20:09] #862 closed

[2022-07-15 12:10] dangunter opened #913 "Flowsheet diff crashes when unit is removed"
When running the visualizer tutorial, if the saved file has F102 but the model does not (which happens when running again from the beginning), the flowsheet diff dumps the following stack trace:
[code]

[2022-07-20 18:38] eslickj commented on #898
@andrewlee94 I talked to Miguel about this, and I think Pyomo does catch this on purpose and throws and exception figuring you are making an error trying to give Barron suffixes it doesn't understand.

[2022-07-20 18:41] andrewlee94 commented on #898
@eslickj We probably should confirm that to be sure, and discuss with them the best approach (i.e. whether we should strip the suffixes on our end, or if they should have a way to override their error checking at their end).

[2022-07-21 18:38] lbianchi-lbl opened #918 "Steps toward partial macOS x64 support"
- [ ] In `idaes-ext`: See if non-IPOPT solver components can be compiled for macOS x64 (@eslickj , @jsiirola)
- [ ] In `idaes-pse` test suite: Ensure tests are skipped/xfailed if unavailable solver libraries are not found (@lbianchi-lbl)
- [ ] In `idaes-pse` docs: Improve information on which features work and which don't depending on platform (@dangunter , @lbianchi-lbl)
  - Maybe compatibility t

[2022-07-21 18:38] #512 closed

[2022-07-21 18:40] #778 closed

[2022-07-21 18:42] #366 closed

[2022-07-21 18:46] #60 closed

[2022-07-21 18:48] ksbeattie commented on #152
@eslickj, I'm going to put this on the backlog label and remove it from any release boards, in hope that someday we might get to it.

[2022-07-21 18:48] #152 closed

[2022-07-21 18:51] ksbeattie commented on #648
Closing this as "complete" in that we don't build on CentOS anymore.

[2022-07-21 18:51] #648 closed

[2022-07-21 19:02] ksbeattie commented on #779
Complete in #782

[2022-07-21 19:02] #779 closed

[2022-07-22 14:56] bpaul4 opened #919 "Documentation of new IDAES Power Plant Costing Tools"
The power plant costing framework documentation needs to be updated.

[2022-07-24 12:00] ZedongPeng opened #920 "register_idaes_currency_units failed in SSLW"
I tried `import idaes.models.costing.SSLW` and it failed with
[code]
Is there anyway to fix it?

I am using Python 3.7.12 on MacOS with `idaes-pse=2.0.0.dev3`.

[2022-07-25 12:48] andrewlee94 commented on #920
Hi @ZedongPeng, looking at that traceback, the issue appears to be coming from the `pint` package which we use to handle unit conversions. Could you tell us which version of `pint` you are using?

[2022-07-25 14:20] eslickj commented on #918
For compiling, idaes-ext on macOS x64, the build scripts I have will just build everything without the HSL if it's not there, so we should be able to get a no-HSL build on macOS x64 going on GitHub Actions.  It's a little messy but probably doable.  The build is a bit time consuming though, I don't know if there are resource limitations.  If I can get my hands on a x86 Mac I could do the whole bui

[2022-07-25 19:17] Polleywag opened #921 "Documentation for using the MEA Solvent Column"
There is no documentation on using the MEA solvent column and the different config settings and expected range of convergence for different parameters.

[2022-07-26 12:32] andrewlee94 commented on #921
The MEA column model is still a work in progress and documentation is not yet ready. WE plan to add documentation once the model is completed, however that will likely not be for a few months.

[2022-07-26 19:00] jsiirola commented on #729
@eslickj, @andrewlee94 and I worked on this this morning.  We think we have a solution, but it requires pyomo/pyomo#2471

[2022-07-27 18:23] ZedongPeng commented on #920
[code]

[2022-07-27 18:31] ZedongPeng commented on #920
I'll try to update it. Thanks.

[2022-07-27 20:39] eslickj commented on #729
As part of this we may want to document which keyword arguments are reserved by Block or ProcessBlock.  For ProcessBlock, default (for now), initialize, and idx_map are already taken.  I guess the documentation would be subject to change, so we'd either need to auto generate it or check in on it periodically.  Hopfully the keyword arguments are not highly desirable model initialization arguments a

[2022-07-28 18:52] ksbeattie commented on #356
@andrewlee94 any update on this?

[2022-07-28 18:53] #840 closed

[2022-07-28 18:56] ksbeattie commented on #705
This might be a good candidate for making at least some of these changes immediately after the Aug release.

[2022-07-29 17:30] adowling2 commented on #597
@shermanjasonaf has another moderate size system (7698 x 15484) where this is causing an issue. @dallan-keylogic where does this stand? @shermanjasonaf (with help from me) may be willing to test out changes in a draft PR.

[2022-07-29 17:45] dallan-keylogic commented on #597
I spent a morning trying a few things without success, then just resigned myself to using the dense SVD. However, I finally have some time to work on this again, so hopefully I can find a good working method.

[2022-07-30 07:34] #920 closed

[2022-08-01 19:18] dallan-keylogic commented on #768
Isn't this complete now?

[2022-08-01 20:04] dallan-keylogic commented on #597
@adowling2  @shermanjasonaf  I pushed my first attempt at a homebrew version of `svds` to the `homebrew_svds` branch of [my IDAES fork.](https://github.com/dallan-keylogic/idaes-pse/tree/homebrew_svds)

Like `svds`, we use `scipy.sparse.linalg.eigsh` on the normal matrix in order to compute a set of singular vectors. Unfortunately, the price we pay for adequate performance is the introduction of a

[2022-08-03 16:58] adowling2 commented on #597
Idea we discuss today:

$$
\min_{v} || J \cdot v ||, \quad \mathrm{s.t.} ~ || v || = 1
$$

The objective could use an L-2 norm and likely still be a convex problem. For the constraint, we could use an L-1 norm. Why $v$ would not be precisely a singular vector, it would be a vector in the "almost null space".

[2022-08-04 16:01] ksbeattie opened #924 "Better links to releases added to idaes.org site"
I'm thinking there should better, or more links to the release announcements across the site.

At least on the [Software](https://idaes.org/software/) page.

[2022-08-04 18:43] ksbeattie commented on #918
@jsiirola is there any update on this that you are aware of?

[2022-08-04 18:54] ksbeattie commented on #888
@elbashandy I'm moving this to the Nov release, let me know if that's not correct.

[2022-08-04 18:57] ksbeattie commented on #96
@jghouse88 is this still relevant?

[2022-08-04 19:01] andrewlee94 commented on #96
@ksbeattie It is still very relevant, but we lack the resources to address it right now.

[2022-08-04 22:00] adowling2 commented on #96
@agarciadiego has been working on extensions about on this. We have ideas on improving initialization.

[2022-08-05 12:36] jsiirola commented on #918
@lbianchi-lbl - No, I think @eslickj is looking into it, but there have been a ton of other things going on this week.

[2022-08-05 16:48] ksbeattie commented on #768
Yes, I believe this was done in #894.

@dallan-keylogic, thanks for following up on this.  @NdagiStanley thanks for the offer to help (even though we didn't take you up on it) and thanks to @lbianchi-lbl for actually doing the hard part

[2022-08-05 16:48] #768 closed

[2022-08-06 02:48] eslickj commented on #748
To help with this PR #822

[2022-08-08 14:50] adam-a-a opened #927 "Ensure pressure changer documentation covers PR #925"
Based on the changes made in PR #925, we should ensure that the existing documentation adequately explains how certain config options might affect creation of the `pressure_changer` unit.

[2022-08-08 18:45] dallan-keylogic opened #929 "Model Serializer does not like Numpy Ints"
When a Pyomo component is assigned a value that's a Numpy Int, the model serializer spits out an error when trying to serialize the issue.

[code]

Note that this exception is not thrown with Numpy *float* types.

While the code in that minimum example would never be produced naturally, it's easy to run into this issue if you're using Pandas dataframes:

[code]

A workaround is to explicitly cast

[2022-08-08 18:56] andrewlee94 commented on #929
I thought Pyomo in general had issues with `numpy` `floats` (let alone `ints`) - I seem to recall having run into issues with this before. Thus, I am wondering if this should be a more general issue of catching `numpy` representations and casting them to general Python.

[2022-08-09 17:30] #729 closed

[2022-08-10 18:17] bpaul4 opened #930 "Remove Deprecated Usage of "default" Argument"
Following #922 , the codebase should be cleaned up wherever the old "default" argument flag is used. This is a tedious and potentially disruptive task to open pull requests given the number of files this will touch, so we should probably do this in batches.

[2022-08-10 18:22] andrewlee94 commented on #930
This is a duplicate of part of #748.

[2022-08-10 18:22] #930 closed

[2022-08-11 18:18] ksbeattie commented on #927
@adam-a-a is this something for the Aug release (as in within the next week)?

[2022-08-11 19:24] lbianchi-lbl commented on #909
@ksbeattie OK, after some rabbit-hole spelunking and A/B comparison with the Pyomo docs (where the search is working), I've realized that in IDAES we have a lot more files in the `docs/static` directory, including several JS files, while Pyomo only has one (https://github.com/Pyomo/pyomo/tree/main/doc/OnlineDocs/_static). My working theory is:

- If a certain file is present in the `static` direct

[2022-08-11 19:54] lbianchi-lbl commented on #909
Following up on that: this is the diff between the search result HTML for IDAES and Pyomo for the same query "model": https://www.diffchecker.com/WPe16Zn0

Apart from the expected differences, I see that:

- For Pyomo the `src` for some of the assets is `https://assets.readthedocs.org/static/` (i.e. a common, project-independent source), whereas for IDAES it's `https://idaes-pse.readthedocs.io/_/s

[2022-08-12 22:31] lbianchi-lbl commented on #909
OK, it looks like removing the JS files worked: compare

- https://idaes-pse--932.org.readthedocs.build/en/932/search.html?q=model&check_keywords=yes&area=default

  ![image](https://user-images.githubusercontent.com/48035537/184452722-4171f232-ea13-444c-a723-8805f976b734.png)

- https://idaes-pse.readthedocs.org/en/stable/search.html?q=model&check_keywords=yes&area=default (is empty)

  ![image](

[2022-08-18 18:38] andrewlee94 commented on #746
@Robbybp Just a reminder of this - I am actually wondering if we should try to make this a global tool (as a default option for all models).

[2022-08-18 18:43] ksbeattie commented on #818
@FiannaOBrien, are the above checkboxes done now with the merging of PR #885?

[2022-08-18 18:58] ksbeattie commented on #927
@adam-a-a I'm guessing that a "no".

[2022-08-18 19:00] adam-a-a commented on #927
@ksbeattie - sorry for missing your comment! I'll double check the existing documentation and see how in depth it already goes. If it was fairly vague about the issue in the first place, I'd push this off. If not, I could try to squeeze it in for the Aug release.

[2022-08-18 19:03] andrewlee94 commented on #892
@dallan-keylogic Has this issue been resolved, or is it something on going (and if so, is it something for a specific release or should it become a discussion)?

[2022-08-18 19:05] andrewlee94 commented on #841
@OOAmusat Any update on this issue? I assume it is not making it into the August release at this point,

[2022-08-18 19:07] andrewlee94 commented on #96
I was thinking @agarciadiego would be a good person to take this over, however he probably won;t have time in the next few months as I believe he is committed to other projects.

[2022-08-18 19:28] OOAmusat commented on #841
@andrewlee94 No updates for now. It'll be addressed, but not before the August release.

[2022-08-18 20:09] ksbeattie commented on #927
Thanks, I've push it to Nov.

[2022-08-22 23:51] Robbybp commented on #746
Yes, I would like to try and implement something general for initialization via a block-triangularization. Ideally this would be faster than current initialization, but possibly less reliable for certain models/definitions of reliability (although possibly more reliable). I think it would be nice to use the performance suite to benchmark initialization times with such a strategy.

[2022-08-23 14:36] #747 closed

[2022-08-23 17:02] #907 closed

[2022-08-25 18:07] #913 closed

[2022-08-25 18:28] ksbeattie commented on #717
@shermanjasonaf, is this still active?  Moving this to the Nov release.

[2022-08-25 18:30] ksbeattie commented on #886
@vova292, closing this though feel free to re-open if needed.

[2022-08-25 18:30] #886 closed

[2022-08-25 18:36] lbianchi-lbl commented on #893
I believe the deprecation warnings due to Sphinx autodoc will disappear once the redirects for deprecated import paths will be removed (see #937).

[2022-08-25 18:36] andrewlee94 commented on #892
I'll close this for now, as it seems it is resolved.

[2022-08-25 18:36] #892 closed

[2022-08-25 18:36] #904 closed

[2022-08-25 18:47] ksbeattie commented on #898
@MAZamarripa, is this still an issue for idaes-pse?  Moving to Nov release board...

[2022-08-25 18:49] ksbeattie commented on #148
@adowling2 can we close this as part of the larger effort to support MacOS?

[2022-08-25 19:51] andrewlee94 commented on #845
@aostace01 Has this issue been addressed yet?

[2022-08-25 19:53] aostace01 commented on #845
Yes. Thanks!

[2022-08-25 19:54] #845 closed

[2022-08-25 20:03] andrewlee94 commented on #896
Seeing as the has been no activity for a while, I am closing this as resolved.

[2022-08-25 20:03] #896 closed

[2022-08-25 20:14] shermanjasonaf commented on #717
That works.

[2022-09-01 18:32] lbianchi-lbl opened #941 "Add CI workflow to test updated Pyomo problem writer"
- The new problem writer is enabled globally by adding this snippet:

[code]

[2022-09-01 18:36] #818 closed

[2022-09-01 19:06] lbianchi-lbl commented on #767
The workaround is to specify the version directly using the `--version` flag, together with the `--unstable` flag to include prerelease versions in the available versions:

[code]

[2022-09-06 19:52] dangunter commented on #669
I think the str, Enum inheritance is a good idea.  I don't know exactly what @andrewlee94 is thinking with the docs, but it should make it easier to document for sure.

[2022-09-07 19:57] #730 closed

[2022-09-07 19:58] #127 closed

[2022-09-08 14:24] dallan-keylogic opened #945 "Deprecate caprese method categorize_dae_variables?"
Looking through `caprese.categorize` I see that there are two methods that do the same thing: `categorize_dae_variables_and_constraints` and `categorize_dae_variables`.  The former seems to be more general the latter, and the latter has problems like having empty lists as default arguments (rather than using `None` and creating a new empty list in the function).

@Robbybp , can you tell us if `cat

[2022-09-08 15:01] Robbybp commented on #945
As far as I'm aware, `categorize_dae_variables` is obsolete and can be deprecated. I forget the exact reason I left it in, but I think it was for a vague performance consideration - walking constraint bodies to detect differential equations could get expensive.

[2022-09-08 18:49] ksbeattie commented on #850
Perhaps add a `--force` to overwrite the `*.dylib` files if they exist (and let the user know about that option if it fails when the files are there).  Probably do not want to remove the `bin` dir automatically!

[2022-09-08 18:56] ksbeattie commented on #852
While someone might be interested in finding out what/where/why this script is getting imported (and run without the `__main__` check), that's beyond our scope right now.

[2022-09-08 18:56] #852 closed

[2022-09-08 18:56] eslickj commented on #849
This isn't really something we can fix, and seems to possibly no longer be a problem.

[2022-09-08 18:56] #849 closed

[2022-09-14 00:59] lbianchi-lbl opened #953 "Prevent test suite from modifying data/config.yaml file"
See: https://github.com/IDAES/idaes-pse/pull/948#discussion_r967367224

[2022-09-15 18:17] ksbeattie commented on #953
Possible fixes:
- get the test to write this file into a tmp dir
- get the test to "clean up after itself" and undo the changes it made to the file
- not have this file in the repo, add it to .gitignore, and have the file generated by the test (then thrown away)

[2022-09-15 18:46] ksbeattie commented on #767
I think the workaround described above is good enough for this strange corner case.

[2022-09-15 18:46] #767 closed

[2022-09-15 19:50] wigging opened #957 "No executable found for solver `ipopt` on Ubuntu 20.04"
I'm trying to install IDAES on the following system where Python is installed via Miniconda.

[code]

Following the steps in the IDAES documentation for Linux, I ran the following commands and didn't notice any errors during the installation.

[code]

Example Python script to run.

[code]

Errors reported from running the example are shown below.

[code]

It looks like the `ipopt` solver was not i

[2022-09-15 19:57] lbianchi-lbl commented on #957
Hi @wigging, can you try using `from idaes.core.solvers import get_solver` instead of `SolverFactory`?

[2022-09-19 13:27] andrewlee94 opened #963 "Fix broken link in IDAES `readme.md`"
Some of the links in the `README.md` file (that makes up the welcome page on Github) are out-of-date and/or broken.

E.g. https://idaes-pse.readthedocs.io/en/stable/getting_started/

Seeing as this serves as one of the entry points to getting IDAES, we should make sure these are up-to-date and maintained.

[2022-09-19 20:14] bpaul4 opened #966 "Grid Integration/PySMO Errors From Pandas Version Update"
Four hours ago, `pandas` released version 1.5 which broke several tests using DataFrame indexing. We should either resolve the issues, and/or temporarily pin `pandas` to the prior stable version 1.4.4.

[2022-09-19 23:55] dangunter commented on #963
Fixed

[2022-09-19 23:55] #963 closed

[2022-09-20 15:03] lbianchi-lbl commented on #966
From a first look, it seems there are two separate sets of issues:

- Errors in PySMO due to use of sets instead of lists for columns (according to [this conversation](https://github.com/pandas-dev/pandas/issues/47215), the support or lack thereof for this in pandas has been unclear in the past): these should be easy to fix on our side
- Errors in code using Egret (through Prescient): these can't

[2022-09-20 22:07] #966 closed

[2022-09-23 15:10] andrewlee94 commented on #893
I think this should have been addressed by #937 and the other PRs related to deprecations. We have removed most of the backwards compatibility code so these should now result in failures, and everything seems to be passing, so I will close this as completed.

[2022-09-23 15:10] #893 closed

[2022-09-23 18:42] dallan-keylogic opened #972 "Deprecate default in documentation"
Although `default` has been excised from the repo's code, it's still showing up in automatically generated unit model documentation:

![image](https://user-images.githubusercontent.com/88728506/192035559-f3a268c8-9b70-4f31-a7cf-52676bc74a57.png)

[2022-09-23 18:44] andrewlee94 commented on #972
@dallan-keylogic Which version of the docs are you looking at? For one, `default` will still appear in the the stable docs until the next release.

[2022-09-23 18:44] dallan-keylogic commented on #972
I'm looking at the docs being generated in my PID controller branch. Granted, I haven't merged main today, so it might already be obsolete.

[2022-09-23 18:50] andrewlee94 commented on #972
It is still showing up in the "latest" version on ReadTheDocs as well.

[2022-09-23 18:56] andrewlee94 commented on #972
I think the issue is line 50 here: https://github.com/IDAES/idaes-pse/blob/main/idaes/core/base/process_block.py

[2022-09-27 17:24] dangunter opened #975 "Visualizer tweaks"
Some visualizer tweaks needed

- [ ] scrolling in stream table is not really working. scroll bar is gone but it goes off the screen to the right
- [ ] resizing the window messes with sizes of the two panels (diagram and stream table)
- [ ] need a way to control font size for stream table

[2022-09-29 15:22] neiljonesdeloitte commented on #25
Hi Idaes team! I am hoping you can help me on a similar issue to this one. I am tryin to use Pyomo and IpOpt in a Docker Container, solving a non-linear problem. Please see my dockerfile photo below - everything works on install until I try to run idaes get-extensions. I also tried your suggestion (idaes get-extensions --url file:///C:/users/eslickj/downloads/), and that did not work either. Any h

[2022-09-29 20:25] neiljonesdeloitte commented on #25
Update: I realized I needed to install lsb_release, which fixed the original error. BUT! Now it seems like ipopt doesnt actually get installed in the container when running idaes get-extensions. I am now trying to install via binary but am struggling there too.

[2022-10-03 15:57] neiljonesdeloitte commented on #25
Hey everyone, i was able to get IPOPT running in Docker. Below are the run.py, dockerfile, and docker compose files that got it running. It takes forever to build, but it works for now!
<img width="258" alt="Screen Shot 2022-10-03 at 8 55 31 AM" src="https://user-images.githubusercontent.com/92811267/193622737-0a6148aa-4550-493e-b741-6d8bea2eadf9.png">
<img width="417" alt="Screen Shot 2022-10-03

[2022-10-05 15:26] andrewlee94 opened #981 "Remove instances of `log(x)` where x can possibly be zero."
The new Pyomo NL writer is far less permissive and will raise exceptions when ever it encounters terms with a `log(0)`, and we have a lot of cases where this is possible in our code. One issue that has been identified in testing the new NL writer is cases of mole fractions appearing in log terms where a mole fraction has been fixed to 0 (e.g. entropy calculations which contain a `x*log(x)` term).

[2022-10-05 19:48] Xinhe-Chen opened #982 "Update OMLT version for idaes-pse Installation."
This is an issue from dispatches.
https://github.com/gmlc-dispatches/dispatches/issues/149

We use OMLT to represent neural networks in the Pyomo optimization environment. Now the IDAES requires OMLT v0.3.1 for installation. However, the OMLT team released OMLT v1.0 in February 2022. In dispatches projects, we build neural network surrogates using OMLT v1.0.

Dispatches projects have dependencies

[2022-10-05 20:44] adowling2 commented on #982
@carldlaird @dangunter Can we get help tagging the best people to give input on this?

[2022-10-06 17:58] ksbeattie commented on #25
@neiljonesdeloitte, glad you got it working.

Your Dockerfile, etc above might be useful to others, would you mind creating an entry in our [discussion forum](https://github.com/IDAES/idaes-pse/discussions) (say under the "Show and Tell" category) with your example?

[2022-10-06 18:48] ksbeattie commented on #509
This is what the [deprector](https://github.com/IDAES/devtools) does!

[2022-10-06 19:20] dallan-keylogic commented on #981
Do we know how this interacts with IPOPT relaxing bounds by 1e-8 by default? I'd think that would happen after the NL is written.

[2022-10-06 19:58] dallan-keylogic commented on #981
The reactor case is important. In something like the Gibbs Reactor, things work out just fine, because `log_x` gets defined through the equations using chemical potential, while `x` is defined through the material balances.

Where we get real issues, though, are isentropic compressors/expanders. There you end up with a degenerate subsystem because `x` is still near zero on both sides of the mass b

[2022-10-06 20:02] andrewlee94 commented on #981
@dallan-keylogic Also, the underlying issue here is actually not numeric per se, but IEE standards. Mathematically, it can be shown the `0*log(0) == 0`, but IEE standard state that `log(0) == NAN` and that anything multiplied by `NAN` should also be `NAN`. This is what causes the NL writer to raise exceptions. That said, it probably should raise an exception because this means you've fixed a value

[2022-10-10 18:21] Xinhe-Chen commented on #982
I started a draft PR according to @lbianchi-lbl 's suggestion. Thanks a lot.

https://github.com/IDAES/idaes-pse/pull/985

[2022-10-10 19:28] Xinhe-Chen commented on #982
The tests failed. I think the problem is that OMLT v1.0 reorganizes the codes and 'FullSpaceContinuousFormulation' is not available anymore. The Keras surrogates API in IDAES is based on OMLT v0.3.1, so the tests failed due to importing package errors.

[2022-10-10 19:45] lbianchi-lbl commented on #982
@Xinhe-Chen would you be able to try and change the imports in IDAES to track the OMLT v1 API as part of #985?

Being completely unfamiliar with that part of the codebase, I do not have a feeling of how much work it would be, and I definitely can't speak for the entire project on this topic. However, from a purely general dependency management point of view, I think we (i.e. on the IDAES side) wou

[2022-10-10 20:34] Xinhe-Chen commented on #982
@lbianchi-lbl I can have a try. I need to carefully check the changes that the OMLT team made through the v1.0 release. Some functions are rewritten so I don't think it is as easy as just changing the names from importing.

[2022-10-13 15:00] Xinhe-Chen commented on #982
Update: put this issue to the Feb IDAES release.

Ask OMLT collaborators if they can update the surrogate codes related to OMLT in IDAES.

[2022-10-13 18:25] ksbeattie commented on #880
Which link is the one that needs to be fixed?

[2022-10-13 18:39] ksbeattie commented on #941
@jsiirola, is working on this on the Pyomo sie.

[2022-10-13 18:45] ksbeattie commented on #927
@adam-a-a, can you take another look at this?

[2022-10-14 15:48] lbianchi-lbl opened #987 "Update GHA workflows to replace deprecated ubuntu-18.04 runners"
https://github.com/actions/runner-images/issues/6002

[2022-10-14 16:41] lbianchi-lbl opened #989 "More specific errors for `idaes get-extensions` failures"
As I understand, currently exceptions encountered during `idaes get-extensions` result in the same catch-all error message being displayed:

![image](https://user-images.githubusercontent.com/48035537/195897377-3d8704f5-4118-47d5-9858-4279a8844a11.png)

From a quick look, this might suggest that the error is a permanent one ("the extensions are unavailable for this platform"), even though the caus

[2022-10-14 18:16] #987 closed

[2022-10-28 17:29] #919 closed

[2022-10-31 17:33] andrewlee94 commented on #709
For this, we rely on the user to specify consistent references states (by necessity); without a reference library of properties at a reference state, the framework has no way of knowing if the conditions provided are consistent or not.

Note that this was a deliberate design choice, as there are cases where a user may be willing to sacrifice strict thermodynamic consistency for simpler model formu

[2022-10-31 17:33] #709 closed

[2022-10-31 17:43] andrewlee94 commented on #637
Firstly, there is nothing wrong with what do did in that example - control volumes are intended to be general helper objects, not the be-all-and-end-all of creating unit models. I.e., you should feel free to only use those parts that make sense for a given model (the caveat being that things in the core model library are expected to be a bit more standard).

However, for your cases here, what exac

[2022-10-31 17:51] andrewlee94 commented on #794
@dallan-keylogic Has this issue been fixed, or are there still lingering issues that need to be addressed (and if so should they become new, more targeted issues and this one closed)?

[2022-10-31 17:56] andrewlee94 commented on #898
We are seeing this and other similar issues come up more and more frequently; I think what we really need in the long term is to revisit the scaling tools over all and come up with a more general solution. Note that the current scaling tools were built very specifically to leverage IPOPTs usage of suffixes (and specifically overcome the fact that setting user scaling for IPOPT turns off the Jacobi

[2022-10-31 18:02] andrewlee94 commented on #748
All the important aspects of this PR have been addressed, so I will call it completed.

[2022-10-31 18:02] #748 closed

[2022-10-31 18:03] dallan-keylogic commented on #794
@andrewlee94 This particular issue has been addressed. There's still lingering confusion about how the initial timepoint should be treated in dynamic models, though. Nothing concrete enough to open an issue, though

[2022-10-31 18:07] #794 closed

[2022-10-31 18:38] Robbybp commented on #637
I needed the DerivativeVar for the momentum balance equation, and I didn't want the "auxiliary" deltaP variable. I agree that it's not the biggest deal if deltaP (and its equality constraint) exists, I just prefer to not write additional unnecessary variables and constraints when possible.

[2022-11-01 20:04] andrewlee94 commented on #637
One potential option would be to make `deltaP` a `Reference` to the pressure derivative instead of a separate variable, but I wonder if there might be too many edge cases or confusion if we tried that.

[2022-11-01 20:43] bpaul4 opened #1003 "OMLT/Keras Documentation For New API"
The new surrogates API documentation needs further OMLT/Keras content. The [API landing page](https://github.com/IDAES/idaes-pse/tree/main/docs/explanations/modeling_extensions/surrogate/api/index.rst) and [OMLT/Keras](https://github.com/IDAES/idaes-pse/tree/main/docs/explanations/modeling_extensions/surrogate/api/omlt-keras/index.rst) pages should be expanded.

[2022-11-01 21:28] Robbybp commented on #637
I would prefer to just split up the API between constructing the derivative and constructing deltaP (and its equation). Making deltaP a reference would eliminate the auxiliary equation, but would still clutter the namespace, which I also try to avoid. It would also break backwards compatibility, as any code referencing the `pressure_balance` constraint would break.

[2022-11-01 22:14] osanan25 opened #1004 "Cannot import name 'get_solver' from 'idaes.core.solvers"
<img width="1251" alt="Screen Shot 2022-11-01 at 6 13 42 PM" src="https://user-images.githubusercontent.com/68397796/199352020-8568ee3b-5170-4b6f-b7c6-cebf869ca5bb.png">

I don't know why this is happening after I imported idaes-pse.

[2022-11-02 12:30] #906 closed

[2022-11-02 12:31] andrewlee94 commented on #85
This issue was addressed in #943

[2022-11-02 12:31] #85 closed

[2022-11-02 12:33] andrewlee94 commented on #1004
@osanan25 Could you please check the version of IDAES you are using? It is likely that you have an older version of IDAES (likely v1.13) as we have recently moved the `get_solver` function and updated the documentation and examples to reflect this. I suspect that you are using recent documentation with an older version of IDAES.

[2022-11-04 18:25] eslickj opened #1009 "Reorganize ideas-ext installation"
There are a few issues the the idaes extensions install:

1. You can't have more than one version installed at a time, so it you want to use multiple versions of IDAES in different environments, you have to reinstall the extensions when switching back and forth. Or you have to know about the secret `IDAES_DATA` environment variables that allows you to use alternate `idaes_data_directry` locations

[2022-11-08 16:17] dallan-keylogic opened #1012 "Upwinding 1D Heat Exchanger and conservation in 1D Control Volume"
While reviewing https://github.com/IDAES/examples-pse/pull/107#issue, I noticed that the 1D Heat Exchanger currently uses a downwind (backward) difference for the cold side in counter-current flow:

https://github.com/IDAES/idaes-pse/blob/897dc3b8f7cb8a9cd39ae71b6cbc0b0c57d2d418/idaes/models/unit_models/heat_exchanger_1D.py#L373-L381

I tried switching it to a forward difference scheme [in order f

[2022-11-08 16:19] dallan-keylogic opened #1013 "Issues with 1D Control Volume"
This issue aggregates issues involving the `ControlVolume1D`.

- https://github.com/IDAES/idaes-pse/issues/424
- https://github.com/IDAES/idaes-pse/issues/637
- https://github.com/IDAES/idaes-pse/issues/1012

[2022-11-09 15:47] eslickj opened #1016 "Helmholtz Available Components Check"
I need to modify the why the Helmholtz property package checks if a component is available.  Currently I assume if it has transport properties on the IDAES side it should be available.  That makes is hard to add new components without modifying IDAES code, especially if you don't care about transport properties.

I'm not sure how to handle this, but I need to figure it out soon.

[2022-11-09 15:56] andrewlee94 commented on #1016
My first thought is that this sounds like there should be a register of available components, which we populate with the standard ones by default and users can add new one if they have them. Maybe a case for the DMF.

[2022-11-09 20:19] #844 closed

[2022-11-09 20:20] eslickj commented on #77
This is done!

[2022-11-09 20:20] #77 closed

[2022-11-09 21:17] eslickj commented on #1016
@andrewlee94, yeah the DMF could be a good place to handle this.  That would give a place to put the data files too.  I guess I can add a registry system, and we can take more time to consider the DMF and maybe improving the way we deal with the data files.

[2022-11-10 14:31] dallan-keylogic commented on #909
Did this fix ever get deployed? Trying to search ReadTheDocs this morning with Edge, I'm still getting no results when searching, with the following errors in the dev console:

I appear to be able to search a local build of the documentation, so it might be that the fix just hasn't been deployed yet.

[2022-11-10 14:37] lbianchi-lbl commented on #909
@dallan-keylogic What's the full URL of the page where this happens? The fix was released after the latest "formally stable" release, so accessing it from `idaes-pse.readthedocs.org/en/stable` would still show the non-fixed version.

[2022-11-10 14:41] dallan-keylogic commented on #909
@lbianchi-lbl the full URL is `https://idaes-pse.readthedocs.io/en/stable/search.html?q=petsc&check_keywords=yes&area=default`, so indeed it looks like it hasn't been deployed yet. Switching to "latest" does allow me to search.

[2022-11-15 03:47] ksbeattie commented on #909
I think it works now, @lbianchi-lbl & @dallan-keylogic can you confirm?

I created a new tag `1.13.1` on the `1.13_rel` branch (cherry-picked from #932) and updated RTD to use that as the `stable` build of the docs.  There is no `1.13.1` release, this is just a tag in git/github so RTD will find it.

[2022-11-15 04:11] lbianchi-lbl commented on #909
Yup, seems to be working: https://idaes-pse.readthedocs.io/en/stable/search.html?q=model&check_keywords=yes&area=default

[2022-11-15 19:10] defencedog opened #1020 "Completed Compiling required .so libraries ARM64 Android Termux"
I have visited `idaes-ext` git but I cannot find source code for this particular library where it is I need to self-compile it for ARM64 Android.
I have been successfull in compiling many others..

[2022-11-15 20:45] defencedog commented on #1020
Here are my files : https://github.com/defencedog/arm64-Android-Termux-Builds/tree/main/idaes

[2022-11-15 20:45] #1020 closed

[2022-11-16 14:47] eslickj opened #1022 "Solver Logging, Missed Output"
IDAES has a feature to log solver output (https://github.com/IDAES/idaes-pse/blob/901a97631e3b9c52ee6518ab377dd6cc10677201/idaes/logger.py#L311).  The context manager uses Pyomo's `capture_output()` function to redirect `stderr` and `stdout` to a string stream.  Then a seperate thread logs the solver output from the string stream.

In the context manager, if the solver exits with a non-zero exit c

[2022-11-17 19:16] #1016 closed

[2022-11-17 19:30] #909 closed

[2022-11-18 20:25] defencedog opened #1026 "IDAES-pse Successfully running on ARM64 Android via Termux"
It took me about 6 days to compile eveything needed on my Samsung Galaxy Tab S7. I have created a repo with all compiled stuff including hefty `Petsc` (including wrapper) & `Ipopt` along with many companion libraries. If someone is interested grab it from my repo: https://github.com/defencedog/arm64-Android-Termux-Builds/tree/main/idaes

[2022-11-28 19:38] lbibl commented on #927
I am trying to conclude this issue. The current doc for the `pressure_change`, https://idaes-pse.readthedocs.io/en/stable/reference_guides/model_libraries/generic/unit_models/pressure_changer.html,  does not have obvious text in conflict to the changes made in PR #925 .  The only slight relation is the `work_mechanical` var listed in the Variables  table, where it is noted to reference `control_vo

[2022-11-28 20:02] andrewlee94 commented on #927
@lbibl `work_mechanical` is the issue here - the fact that the model does certain things if `control_volume.work` does not exist needs to be documented somehow. It does not need to be much (e.g. a note block), but it does need to explain what happens in these case any why it might be useful.

[2022-11-29 20:45] #972 closed

[2022-11-29 22:45] #927 closed

[2022-11-30 17:38] andrewlee94 opened #1037 "Backwards Compatibility Promise and Tests"
With the transition to IDAES v2.0, we need to add a formal definition of what we consider backward compatibility and a set of tests that will verify this.

- [x] Define what we consider backward compatible.
- [x] Create tests for this
- [ ] Set up a CI runner for backward compatibility tests (scheduled weekly?)

[2022-11-30 17:51] eslickj commented on #1037
This is probably my stupidly simple thinking, but can we just run the IDAES 2.0 tests with all new versions on IDAES 2.x.  If those tests don't break we can consider it backward compatible.  I assume we will want backward compatibility until we get to 3.0?

[2022-11-30 18:27] lbianchi-lbl commented on #1037
Actually, from my experience trying to do exactly this for the v1 -> v2 compatibility, I think this is a viable approach that we should be able to implement without too much effort (basically mostly to ensure that our test suite is "cleanly extractable" so that it can be run reliably against a separate installation of the `idaes` package).

[2022-11-30 18:59] jsiirola commented on #1037
The problem with "just running the 2.0 tests" is that we should probably be judicious about picking *which* 2.0 tests to run.  The testing infrastructure often is fragile, and can fail for "non user facing changes".  For example, when a test fails that compares expression structures or the variable orderings: is that really a backwards incompatibility?

At least for Pyomo it has been helpful to ha

[2022-11-30 19:06] eslickj commented on #1037
Being very lazy, we could take the approach that if one of the fragile tests fail, we worry about whether to kick it out at that time.

If backward compatibility doesn't mean the results stay the same, maybe we could just run unit tests.  That should at least mean the API doesn't break, but I'm not sure how good the coverage is if we are limited to unit tests.

[2022-11-30 19:08] andrewlee94 commented on #1037
@eslickj That is hardly a promise of backward compatibility however.

[2022-11-30 19:12] eslickj commented on #1037
@andrewlee94, it's just a more lazy version of what @jsiirola suggested.   If we say the test broke because it was ridiculously fradgile or whether we kick out a bunch of tests from the start, what's the difference?

[2022-11-30 19:17] andrewlee94 commented on #1037
@eslickj Functionally not much, but it appears far better if we make the decision at the start and then set the tests in stone.

We could consider basing the backward compatibility tests around the current tutorials and the current `unit` tests. The core code at least is well covered by just unit tests, with only initialization being missing (and we intend to rebuild that anyway). Unit tests shoul

[2022-11-30 20:14] lbianchi-lbl opened #1038 "IDAES v2 user-support material"
## List of material

- [x] IDAES v1 compatibility mode ([wiki](https://github.com/IDAES/idaes-pse/wiki/idaes-v1-compat)
  - [x] Content
  - [x] Review
- [x] How-to: migrate code from IDAES v1 to v2 ([wiki](https://github.com/IDAES/idaes-pse/wiki/idaes-v2-migrate))
  - [x] Content
    - [x] Import paths
    - [x] `ProcessBlock` kwargs
    - [x] Heat exchanger
  - [x] Review

## Open questions

- [x

[2022-11-30 20:42] dangunter commented on #1038
I think migrating/migration is a good term for this